
/* BODY */
body {
  background-color: var(--bg3);
  color: var(--tc);
  font-family: 'Poppins', sans-serif;
  /* padding: 0; */
  /* margin: 0; */
}


:root {
  /* body */
  /* --tc: rgb(38, 22, 5); */
  /* tc > text color */
  /*   
  --bg33: rgb(215, 202, 179);
  --bg3: #d7cac3;
  --nav-li-color: #e45681;
  --card-container-color: #e456819a;
  --email-box-color: #e456819f;
  --submit-button-color: #401a1a;
  --s-btn-text-color: #ffffff; 
  */
 
  --tc: rgb(0 0 0);
  --bg33: rgb(215, 202, 179);
  --bg3: #d7cac3;
  --nav-li-color: #141a1d;
  /* #37474F */
  --card-container-color: #546e7a2d;
  --email-box-color: #546e7a2a;
  --submit-button-color: #37474F;
  --s-btn-text-color: #ffffff;

  /* change all come in times for speed */

  --difference: 10px;

  /* nav li */
  --initial-height-of-nav-li: 0px;
  --height-of-one-nav-li: 46.66px;
  --total-nav-li: 7;

  /* container nav || .nav */
  --initial-height-of-container-nav-div: 40px;
  --final-height-of-container-nav-div: calc(var(--height-of-one-nav-li) * var(--total-nav-li));
  --width-of-container-nav-div: 400px;
  /* 40px */
  /* --bg1: rgba(228, 167, 144, 0.6);
  --bg2: rgba(168, 43, 43, 0.8); */

  --bg1: rgba(0, 0, 0, 0.5);
  --bg2: rgb(0, 0, 0, 1);

  /* nav */
  --initial-height-of-nav: calc(var(--initial-height-of-container-nav-div) + var(--difference));
  --final-height-of-nav: calc(var(--final-height-of-container-nav-div) + var(--difference));
  --width-of-nav: calc(var(--width-of-container-nav-div) + var(--difference));

  /* positioning */
  --top: 25px;
  --right: 20px;

  /* delays */
  --transition-delay: 0.2s;
  --transition-duration: 0.3s;

  --radius: 45px;
  --z-value: 100;

  --cursor-z-index: 9999999999;
  --svg-z-index: 999999;
  --font-size: 1.2rem;

  --nav-height: 10vh;
  --li-width: 25%;

  --rr: 15px;
}



/* LINKS */
a {
  color: rgb(152, 14, 88);
  text-decoration: none;
  border-bottom: 1px dotted #000;
}

a:hover {
  background: linear-gradient(to right, red, rgb(255, 162, 0));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

a:active {
  color: rgb(255, 162, 0);
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */


/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* 
.inverse {
  z-index: 80;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  height: 60px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transition: 0.3s;
  border-left: 1px solid;
  animation: padd 400ms forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inverse:hover {
  opacity: 1;
  transition: 0.3s;
}

.inverse:hover .strech {
  transition-duration: 0.3s;
  font-size: 30px;
  width: 35px;
} */

/* Sections */
section {
  height: 100vh;
  /* 120vh */
  z-index: 1;
  background-color: var(--bg3);
  opacity: 0;
  /* transform: translateY(20px); */
  /* Move the section down */
  transition: opacity 0.6s, transform 0.6s;
}

#s1 {
  opacity: 1;
}

.reveal {
  opacity: 1;
  transform: translateY(0);
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */


/* FOR SMALLER SCREENS */
@media screen and (max-width: 768px) {

  /* font size - moddle , first not in inverse, Should change it */
  :root {
    --heading-text-size: 1.5em;
    --heading-weight: 500;
    --paragraph-text-size: 0.9em;
    --paragraph-weight: 300;
  }

  nav {
    display: none;
  }

  #hello {
    font-size: 4.3rem;
    font-weight: 700;
    margin: 10px;
  }

  .name {
    margin: 15px;
    font-weight: 300;
    font-size: var(--heading-text-size);
  }

  .intro {
    margin: 15px;
    font-weight: 200;
    font-size: 0.8em;
  }

  .skill-wrapper {
    display: flex;
    align-items: center;
  }

  #skill-list {
    margin-top: 0;
    padding-top: 0;
    /* border: 1px solid; */
    width: 335px;
    height: 400px;
  }

  .exps {
    padding-top: 20px;
    margin-left: 80px;
    margin-top: 100px;
    font-size: var(--heading-text-size);
    font-weight: var(--heading-weight);
    /* background-color: #ffa2007d; */
  }


  /* INVERSE */
  .inverse2 {
    z-index: 80;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: var(--paragraph-text-size);
    font-weight: var(--paragraph-weight);
  }

  #invert-button {
    position: fixed;
    /* top: 42px; */
    top: 20px;
    left: 86vw;
    /* right: 455px; */
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
    font-size: 0;
    opacity: 1;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    transition: var(--transition-duration);
    background-image: url('https://subha-py-c.github.io/Noni/sun.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s;
  }

  .s-list {
    height: 50vh;
    margin-top: 20px;
    padding-left: 50px;
    font-size: 1.2em;
    font-weight: 200;
  }

  .p-list {
    height: 480px;
    margin-top: 20px;
    padding-left: 30px;
    font-size: 1.2em;
    font-weight: 200;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hh1 {
    display: none;
  }

  /* INVERSE */
  .inverse {
    z-index: 80;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    height: 80px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transition: 0.3s;
    border-left: 1px solid;
    font-size: var(--paragraph-text-size);
    font-size: 15px;
    font-weight: var(--paragraph-weight);
    /* border-bottom: 1px solid; */
  }

  .exp {
    padding-top: 30px;
    margin: 15px;
    font-size: var(--heading-text-size);
    font-weight: var(--heading-weight);
  }

  .expC {
    padding-top: 60px;
    margin: 30px;
    margin-left: 70px;
    margin-top: 200px;
    padding-top: 150px;
    font-size: var(--heading-text-size);
    font-weight: var(--heading-weight);
    /* border: 1px solid; */
  }

  .card-container {
    display: none;
  }

  .card {
    display: none;
  }

  .first {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-bottom: 4px;  */

  }

  .first-x {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-bottom: 4px;  */

  }

  .middle {
    /* margin-top: 4px; */
    /* margin-bottom: 4px; */
    margin-left: 30px;
    margin-right: 30px;
  }

  .last {
    /* margin-top: 4px; */
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }

  section {
    height: 60vh;
  }

  *:hover {
    opacity: 1;
    transform: none !important;
    animation: none !important;
  }

  a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
  }

  .hidden h1 {
    font-size: 0.9em;
    font-style: inherit;
    font-weight: 250;
  }

  .cursor {
    display: none;
  }

  .fs {
    font-size: 0.9em;
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .email-box {
    display: none;
    margin-top: 40px;
    position: relative;
    width: 60%;
    height: 30%;
    margin-left: 30px;
  }

  .box {
    position: relative;
    width: calc(60% - 5px);
    height: calc(30% - 5px);
    border: 3px dotted black;
    border-radius: 25px;
  }

  #email {
    position: relative;
    width: 60%;
    height: 40px;
    opacity: 0.5;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 11px;
  }

  #message {
    position: relative;
    height: 150px;
    width: 90%;
    font-size: auto;
    opacity: 0.5;
    border-radius: 25px;
    margin: 0 0 8px 20px;
  }

  #submit {
    width: 50px;
    height: 20px;
    border-radius: 10px;
  }

  *:hover {
    opacity: 1;
    transform: none !important;
    animation: none !important;
  }
}