/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


@font-face {
  font-family: "LoveRegular";
  src: url("https://assets.awwwards.com/assets/fonts/love/Love-Regular.woff");
  font-style: normal;
  font-weight: 200;
}

.reg {
  /* font-family: LoveRegular; */
  /* font-style: italic; */
  z-index: 20;
}

/* FONTS */
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  /* font-size: 32px; */
  font-style: normal;
}

hr {
  height: 1px;
  /* background-color: black; */
}

.invert {
  /* filter: grayscale(85%) brightness(0.8); */
  filter: invert(100%);
}

/*  */

#invert-button {
  position: fixed;
  /* top: 42px; */
  top: var(--top);
  right: 85px;
  /* right: 455px; */

  z-index: 85;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: 0;
  opacity: 1;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  /* mix-blend-mode: difference; */
  /* background-color: #fff; */
  transition: var(--transition-duration);
  background-image: url('https://subha-py-c.github.io/Noni/sun.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

#invert-button:hover {
  /* background-color: rgba(168, 168, 168, 0.8); */
  transform: scale(1.414);
  transition: 0.3s;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* Keyframes */
@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes inverse-color {
  0% {
    background-color: transparent;
    color: #000;
  }

  100% {
    background-color: #000;
    color: whitesmoke;
  }
}

@keyframes underline {
  0% {
    width: 0;
    margin-left: 0;
  }

  100% {
    width: 100%;
    margin-left: 0;
  }
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/*ANIMATION CLASSES >>>*/
.animated-div {
  opacity: 0;
  animation: fadeIn 0.8s forwards;
}

/* Letter */
.letter {
  display: inline-block;
  margin-right: -0.08em;
}

/* CREATES AN UNDERLINE, ACTUALLY WRONG BUT NEED THE ANALYSIS, UNDERLINE LOOKED GOOD THOUGH */
.animated-underline {
  display: inline-block;
  border-bottom: 2px solid rgb(0, 0, 0);
  animation: underline 1s ease-in forwards;
}

/* GRADUAL UNDERLINE ANIMATION */
.animated-underline-proper {
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* Define the underline */
.animated-underline-proper::before {
  content: '';
  /* Required for pseudo-element */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease-in;
}

/* Define the hover effect */
.animated-underline-proper:hover::before {
  width: 100%;
  /* Width of the underline on hover */
}

/* HIGHLIGHT THE TEXT ONLY ANIMATION */
/* Define the default state */
.animated-highlight {
  color: black;
  /* Default text color */
  transition: color 0.3s ease-in;
  /* Transition effect */
}

/* Define the hover effect */
.animated-highlight:hover {
  color: red;
}


/* PROPER HIGHLIGHT */
/* Define the default state */
.animated-text-highlight {
  color: black;
  /* Default text color */
  position: relative;
  /* Required for absolute positioning */
}

/* Define the highlight effect */
.animated-text-highlight::before {
  content: '';
  /* Required for pseudo-element */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  /* Initial width of the highlight */
  height: 100%;
  background-color: yellow;
  z-index: -1;
  /* Ensure the highlight is behind the text */
  transition: width 0.4s ease-in-out;
}

/* Define the hover effect */
.animated-text-highlight:hover::before {
  width: 100%;
  /* Width of the highlight on hover */
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* scroll-bar */
/* Change the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 0px;
  /* Width of the scrollbar */
  height: 0px;
  /* Height of the scrollbar */
}

/* Change the track (the area behind the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--bg3);
}

/* Change the appearance of the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #88888800;
  /* Color of the scrollbar handle */
  border-radius: 6px;
  /* Rounded corners */
}

/* Change the appearance when hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar handle on hover */
}

.invert ::-webkit-scrollbar-track {
  background: #001B3B;
}

/* 
.invert body{
  background: bisque;
} */
/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

/* BODY */
body {
  background-color: var(--bg3);
  color: var(--tc);
  font-family: 'Poppins', sans-serif;
  /* padding: 0; */
  /* margin: 0; */
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* js claasses  */

.visible {
  display: block;
}

.clear {
  display: block;
}

.invisible {
  display: none;
}

.animate-li {
  animation: come-in 600ms forwards;
}

.nav.visible {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.appear {
  animation: appear 600ms forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade {
  animation: fade 0.2s forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.appear {
  opacity: 1;
}

.blur-dark {
  filter: blur(3px);
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* NAV */
:root {
  /* body */
  --tc: rgb(38, 22, 5);
  --bg33: rgb(215, 202, 179);
  --bg3: #d7cac3;
  /* nav */

  /* change all come in times for speed */

  --difference: 10px;

  /* nav li */
  --initial-height-of-nav-li: 0px;
  --height-of-one-nav-li: 46.66px;
  --total-nav-li: 7;

  /* container nav || .nav */
  --initial-height-of-container-nav-div: 40px;
  --final-height-of-container-nav-div: calc(var(--height-of-one-nav-li) * var(--total-nav-li));
  --width-of-container-nav-div: 400px;
  /* 40px */
  /* --bg1: rgba(228, 167, 144, 0.6);
  --bg2: rgba(168, 43, 43, 0.8); */

  --bg1: rgba(0, 0, 0, 0.5);
  --bg2: rgb(0, 0, 0, 1);

  /* nav */
  --initial-height-of-nav: calc(var(--initial-height-of-container-nav-div) + var(--difference));
  --final-height-of-nav: calc(var(--final-height-of-container-nav-div) + var(--difference));
  --width-of-nav: calc(var(--width-of-container-nav-div) + var(--difference));

  /* positioning */
  --top: 25px;
  --right: 20px;

  /* delays */
  --transition-delay: 0.2s;
  --transition-duration: 0.3s;

  --radius: 45px;
  --z-value: 100;

  --cursor-z-index: 9999999999;
  --svg-z-index: 999999;
  --font-size: 1.2rem;

  --nav-height: 10vh;
  --li-width: 25%;

  --rr: 15px;
}

.li.clear {
  display: flex;
}

.animate-nav {
  animation: slideIn 0.5s forwards;
}

.svg {
  z-index: var(--svg-z-index);
  position: fixed;
  top: var(--top);
  right: 20px;

  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  width: 39px;
  height: 39px;
  position: fixed;
  top: var(--top);
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: var(--svg-z-index);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

@keyframes slideIn {
  0% {
    height: 0%;
  }

  100% {
    height: var(--nav-height);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes come-in {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.nav {
  z-index: 999999;
  height: var(--nav-height);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 128, 0, 0);
  display: flex;
  display: none;
  transition: all 0.5s ease;
}

.ul {
  z-index: 999999;

  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(211, 211, 23, 0);
}

.li {
  z-index: 999999;

  position: relative;
  /* list-style: none; */
  margin: 0px;
  padding: 0;
  width: var(--li-width);
  height: 0vh;
  /* background-color: rgb(231, 173, 122); */
  /* background-color: #431717; */
  /* d8d891; */
  background-color: #e45681;
  color: rgb(247, 237, 218) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: come-in 600ms forwards;
  /* change all come in times for speed */
}

.li a {
  color: rgb(247, 237, 218) !important;
  /* text-decoration: none !important; */
}

#l1 {
  animation-delay: 0ms;
}

#l2 {
  animation-delay: 200ms;
}

#l3 {
  animation-delay: 400ms;
}

#l4 {
  animation-delay: 600ms;
}

.nav .ul .li span {
  font-size: 2em;
  opacity: 0;
}

.nav .ul .li span.appear {
  opacity: 1;
}

/* ------------------------------ */

/* cursor */
.cursor {
  z-index: 77;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fffcef;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s;
}

.underline-hover {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  mix-blend-mode: difference;
  transition: color 0.3s ease-out;
}

/* Style for the underline */
.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #ffffff;
  mix-blend-mode: difference;
  transition: width 0.3s ease;
}

/* Hover effect */
.underline-hover:hover::after {
  width: 100%;
}

/* Hover effect for the text color */
.underline-hover:hover {
  color: #ffffff;
  mix-blend-mode: difference;
}



/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

/* LINKS */
a {
  color: rgb(152, 14, 88);
  text-decoration: none;
  border-bottom: 1px dotted #000;
}

a:hover {
  background: linear-gradient(to right, red, rgb(255, 162, 0));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

a:active {
  color: rgb(255, 162, 0);
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

/* IDs */
#hello {
  font-size: 11.8rem;
  font-weight: 900;
  margin: 30px;
  margin-left: 70px;
  letter-spacing: -0.06em;
  animation: slideIn 1.2s ease-out;
  display: inline;
  transition: transform 0.3s;
  /* border: 2px dotted rgb(25, 0, 255); */
}

#div1 {
  animation-delay: 0s;
  /* border: 6px solid rgb(255, 136, 0); */
}

#div2 {
  animation-delay: 1.2s;
  /* border: 6px solid rgb(255, 0, 128); */
}

#div3 {
  animation-delay: 1.68s;
}

/* 0,1.2,1.68 */
#i1 {
  animation-delay: 0s;
}

#i2 {
  animation-delay: 0.2s;
}

#i3 {
  animation-delay: 0.4s;
}

#i4 {
  animation-delay: 0.6s;
}

#i5 {
  animation-delay: 0.8s;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

/* CLASSES */

/* hello:- in id section*/
/* name */

.div1 {
  margin-top: 250px;
  /* border: 2px solid red; */
}

.name {
  margin: 30px;
  margin-left: 70px;
  font-weight: 500;
  font-size: 1.8em;
  /* border: 2px solid red; */

}

.name span {
  font-family: "Tangerine", cursive;
  font-weight: 300;
  font-size: 1.3em;
  font-style: normal;
}

.name span:hover {
  animation: underline 1s forwards;
}

/* INTRO */
.intro {
  margin: 30px;
  margin-left: 70px;
  font-weight: 400;
  font-size: 1.5em;
  /* border: 2px solid red; */
}

.d1-2 {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 8px solid rgb(255, 13, 0); */
  margin: 0;
  padding: 0;
}

.d3 {
  position: relative;
  margin: 0;
  /* border: 8px solid red; */
  padding-top: 90px;
}

.exp {
  padding-top: 60px;
  margin: 30px;
  margin-left: 70px;

  margin-top: 200px;
  font-size: 3.7em;
  font-weight: 550;
}

.p-list {
  height: 60vh;
  margin-top: 20px;
  padding-left: 90px;
  font-size: 1.7em;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.first {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 8px;
  /* font-size: 1.2em; */
  font-style: normal;
  /* font-weight: 400; */
}

.middle {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 60px;
  margin-right: 60px;
  /* font-size: 1.2em; */
  font-style: normal;
  /* font-weight: 400; */
}

.last {
  margin-top: 8px;
  margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
  font-style: normal;
}


/* -------  SKILLS ------------------------------------------------------ */

#SK {
  border: 1px solid red;
  border: none;
}

#SS {
  border: 1px solid;
  border: none;
}

.skill-wrapper {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

#skill-list {
  margin-top: 0;
  padding-top: 0;
  /* border: 1px solid; */
  width: 335px;
  height: 650px;
}

.exps {
  padding-top: 30px;
  margin-left: 100px;
  margin-top: 100px;
  font-size: 3.7em;
  font-weight: 550;
  /* background-color: #ffa2007d; */
}

.s-list {
  height: 60vh;
  margin-top: 20px;
  padding-left: 50px;
  font-size: 2em;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.first-x {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 8px;
}

/* INVERSE */
.inverse2 {
  z-index: 80;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transition: 0.3s;
  /* text-align: end; */
  border-right: 1px solid;
  animation: padd 400ms forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inverse2:hover {
  opacity: 1;
  transition: 0.3s;
}

.inverse2:hover .strech {
  transition-duration: 0.3s;
  font-size: 30px;
  width: 35px;
}

.card-container {
  border: 1px solid;
  width: 300px;
  height: 500px;
  margin-left: 250px;
  margin-right: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.card {
  border: 1px solid;
  width: 280px;
  height: 480px;
  border-radius: 30px;
  background-color: rgba(196, 88, 131, 0.63);
  background-color: #e456819a;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pppp{
  display: none;
}

#sec3{
  /* border: 1px solid; */
  margin-top: 100px;
}

img{
  display: block;
}
/* 
img:hover{
  opacity: 0.5;
} */

.projects__gallery {
  height: 450px;
  max-width: calc(100% - 100px);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 1em;

  margin-top: 70px;
  /* border: 1px solid; */
}

.projects__gallery:has(.gallery__pannels:hover)
  .gallery__pannels:not(:hover) img{
  /* flex: 0.5; */
  filter: grayscale(100%);
}

.gallery__pannels{
  overflow: hidden;
  flex: 1;
  transition: flex 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 45;
}

.gallery__pannels:hover{
  flex: 3.5;
}

.project_data{
  position: absolute;
  color: black;
  font-size: 2.8rem;
  font-weight: 600;
  z-index: 10;
  opacity: 0;
  transition: all 0.3s ease-in;

  /* font-size: 0; */
}

.xxds{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45px;
  height: 45px;

  /* width: 0; */
  /* height: 0; */

  border-radius: 50%;
  background-color: #000;
  color: white !important;
  margin-left: auto;
  margin-right: auto;
}
#xds{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#i_1:hover .p1 {
  opacity: 1;
}

#i_2:hover .p2 {
  opacity: 1;
}

#i_3:hover .p3 {
  opacity: 1;
}

#i_4:hover .p4 {
  opacity: 1;
}

#i_5:hover .p5 {
  opacity: 1;
}

#i_6:hover .p6 {
  opacity: 1;
}

#i_7:hover .p7 {
  opacity: 1;
}

#i_8:hover .p8 {
  opacity: 1;
}

.gallery__pannels img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  transition: 0.3s;
  z-index: 3;
}

.projects-card-container {
  border: 1px solid;
  width: 300px;
  height: 400px;
  margin-left: 250px;
  margin-right: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.p-cards{
  border: 1px solid;
  height: 380px;
  border-radius: 30px;
  background-color: rgba(196, 88, 131, 0.63);
  background-color: #e456819a;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.default {
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
}

.spann {
  width: 90px;
  height: 90px;
  border: 1px solid;
  border-radius: 50%;
}

.python {
  display: none;
  /* display: block; */
}

.ai-tools {
  display: none;
}

.html-css {
  display: none;
}

.ui-ux {
  display: none;
}

.js {
  display: none;
}

.react {
  display: none;
}

.c-cpp {
  display: none;
}

.git {
  display: none;
}

.others {
  display: none;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */


/* INVERSE */
.inverse {
  z-index: 80;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  height: 60px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transition: 0.3s;
  border-left: 1px solid;
  animation: padd 400ms forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid; */
}

.inverse:hover {
  opacity: 1;
  /* transform: translateX(20px); */
  transition: 0.3s;
  /* animation: pad 400ms forwards; */
  /* transform: animation; */
  /* border-bottom: 1px dotted; */
}

/* 
#one{
  animation: pad 0.3s forwards;
} */

.inverse:hover .strech {
  transition-duration: 0.3s;
  font-size: 30px;
  width: 35px;
  /* height: 1px; */
  /* margin-left: 40px ; */
  /* border: 1px solid; */

}

.strech {
  background-color: rgba(0, 255, 255, 0);
  font-size: 0px;
  width: 0px;
  /* border: 1px solid; */
  transition-duration: 0.3s;
}

@keyframes pad {
  0% {
    padding-left: 10px;
  }

  100% {
    padding-left: 30px;
  }
}


@keyframes padd {
  0% {
    padding-left: 30px;
  }

  100% {
    padding-left: 10px;
  }
}

/* 
.inverse:hover span {
    animation: none;
} */

/* ------------Contacts------------- */
.expC {
  padding-top: 60px;
  margin: 30px;
  margin-left: 70px;
  margin-top: 200px;
  padding-top: 150px;
  font-size: 3.7em;
  font-weight: 550;
  /* border: 1px solid; */
}


.fs {
  height: 40vh;
  margin-top: 20px;
  padding-left: 90px;
  font-size: 1.6em;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container {
  display: flex;
}

.email-box {
  position: relative;
  margin-left: 300px;
  /* background-color: #d44a94; */
  background-color: #e456819f;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--rr);
}

.box {
  position: relative;
  width: 570px;
  height: 370px;
  border: 2px dotted black;
  border-radius: var(--rr);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#email {
  width: 330px;
  height: 40px;
  opacity: 0.5;
  border-radius: var(--rr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 13px;
  border: 1px solid;
  /* background-color: var(--bg3); */
}

#message {
  height: 200px;
  width: 500px;
  font-size: 17px;
  opacity: 0.5;
  border-radius: var(--rr);
  border: 1px black solid;
  margin: 0 0 15px 40px;
  /* display: block; */
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-color: var(--bg3); */
}

#submit {
  width: 150px;
  height: 40px;
  font-size: 1.5em;

  border-radius: 20px;

  background-color: #401a1a;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  transition: 300ms;
}

#submit:hover {
  transition-delay: 100ms;
  background-color: #ffffff;
  color: #232323;
  border: 2px solid #000000;
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

/* Sections */
section {
  height: 100vh;
  /* 120vh */
  z-index: 1;
  background-color: var(--bg3);
  opacity: 0;
  /* transform: translateY(20px); */
  /* Move the section down */
  transition: opacity 0.6s, transform 0.6s;
}

#s1 {
  opacity: 1;
}

.reveal {
  opacity: 1;
  transform: translateY(0);
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

/* Hidden Class */
.hidden h1 {
  font-size: 2.1em;
  font-style: inherit;
  font-weight: 450;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */


/* FOR SMALLER SCREENS */
@media screen and (max-width: 768px) {

  /* font size - moddle , first not in inverse, Should change it */
  :root {
    --heading-text-size: 1.5em;
    --heading-weight: 500;
    --paragraph-text-size: 0.9em;
    --paragraph-weight: 300;
  }

  nav {
    display: none;
  }

  #hello {
    font-size: 4.3rem;
    font-weight: 700;
    margin: 10px;
  }

  .name {
    margin: 15px;
    font-weight: 300;
    font-size: var(--heading-text-size);
  }

  .intro {
    margin: 15px;
    font-weight: 200;
    font-size: 0.8em;
  }

  .skill-wrapper {
    display: flex;
    align-items: center;
  }

  #skill-list {
    margin-top: 0;
    padding-top: 0;
    /* border: 1px solid; */
    width: 335px;
    height: 400px;
  }

  .exps {
    padding-top: 20px;
    margin-left: 80px;
    margin-top: 100px;
    font-size: var(--heading-text-size);
    font-weight: var(--heading-weight);
    /* background-color: #ffa2007d; */
  }


  /* INVERSE */
  .inverse2 {
    z-index: 80;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: var(--paragraph-text-size);
    font-weight: var(--paragraph-weight);
  }

  #invert-button {
    position: fixed;
    /* top: 42px; */
    top: 20px;
    left: 86vw;
    /* right: 455px; */
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
    font-size: 0;
    opacity: 1;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    transition: var(--transition-duration);
    background-image: url('https://subha-py-c.github.io/Noni/sun.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s;
  }

  .s-list {
    height: 50vh;
    margin-top: 20px;
    padding-left: 50px;
    font-size: 1.2em;
    font-weight: 200;
  }

  .p-list {
    height: 480px;
    margin-top: 20px;
    padding-left: 30px;
    font-size: 1.2em;
    font-weight: 200;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hh1 {
    display: none;
  }

  /* INVERSE */
  .inverse {
    z-index: 80;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    height: 80px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transition: 0.3s;
    border-left: 1px solid;
    font-size: var(--paragraph-text-size);
    font-size: 15px;
    font-weight: var(--paragraph-weight);
    /* border-bottom: 1px solid; */
  }

  .exp {
    padding-top: 30px;
    margin: 15px;
    font-size: var(--heading-text-size);
    font-weight: var(--heading-weight);
  }

  .expC {
    padding-top: 60px;
    margin: 30px;
    margin-left: 70px;
    margin-top: 200px;
    padding-top: 150px;
    font-size: var(--heading-text-size);
    font-weight: var(--heading-weight);
    /* border: 1px solid; */
  }

  .card-container {
    display: none;
  }

  .card {
    display: none;
  }

  .first {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-bottom: 4px;  */

  }

  .first-x {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-bottom: 4px;  */

  }

  .middle {
    /* margin-top: 4px; */
    /* margin-bottom: 4px; */
    margin-left: 30px;
    margin-right: 30px;
  }

  .last {
    /* margin-top: 4px; */
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }

  section {
    height: 60vh;
  }

  *:hover {
    opacity: 1;
    transform: none !important;
    animation: none !important;
  }

  a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
  }

  .hidden h1 {
    font-size: 0.9em;
    font-style: inherit;
    font-weight: 250;
  }

  .cursor {
    display: none;
  }

  .fs {
    font-size: 0.9em;
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .email-box {
    display: none;
    margin-top: 40px;
    position: relative;
    width: 60%;
    height: 30%;
    margin-left: 30px;
  }

  .box {
    position: relative;
    width: calc(60% - 5px);
    height: calc(30% - 5px);
    border: 3px dotted black;
    border-radius: 25px;
  }

  #email {
    position: relative;
    width: 60%;
    height: 40px;
    opacity: 0.5;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 11px;
  }

  #message {
    position: relative;
    height: 150px;
    width: 90%;
    font-size: auto;
    opacity: 0.5;
    border-radius: 25px;
    margin: 0 0 8px 20px;
  }

  #submit {
    width: 50px;
    height: 20px;
    border-radius: 10px;
  }

  *:hover {
    opacity: 1;
    transform: none !important;
    animation: none !important;
  }
}