:root {
    --padding-left-val: 170px;
    --left-dist: 60px;
    --radius: 10px;
    --institute__data__height: 114px;
    /* 134.5px */
}

#s-last {
    position: relative;
    height: 125vh;
}

.academic__container {
    transform: none;
}

.ins__container {
    position: relative;
}

.acad__header {
    padding-top: 90px;
    margin: 30px;
    margin-top: 0;
    padding-top: 130px;
    margin-left: var(--margin-left);
    font-size: var(--heading-text-size);
    font-weight: var(--heading-weight);
}

.acad__list {
    display: flex;
    flex-direction: column;
    gap: 0em;

    margin-top: 20px;
    padding-left: var(--padding-left-val);
    padding-right: 10px;
    font-size: calc(var(--paragraph-text-size) + 0.2em);
    font-weight: 200;
    font-family: "MondiaThin", sans-serif;
}

.institute__data strong {
    font-weight: 800;
}
.inst {
    text-decoration: none;
}
.acad__institutions {
    border-left: 1px solid #000;
    height: 145px;
    padding-left: var(--left-dist);
    padding-bottom: 30px;
}

.year,
.grade {
    display: inline;
}

.inst {
    font-size: larger;
    font-weight: 700;
}

.institute__data {
    position: relative;
}

.ball-pointer {
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    background-color: #000;
    border-radius: 50%;
    position: relative;
    top: calc(var(--institute__data__height) * (-1) + var(--radius) * 0.5);
    left: calc(((-1) * var(--left-dist)) - var(--radius));
}

/*
<div class="academics__card__container">
  <div class="acad__card card1"></div>
  <div class="acad__card card2"></div>
  <div class="acad__card card3"></div>
</div>
*/
.academics__card__container {
    position: relative;
    top: calc(-24vh);
    left: 40%;
    width: 700px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .acad__card {
        width: 160px;
        height: 260px;
        border-radius: 10px;
        background-color: var(--card-container-color);
        overflow: hidden;
        transform-origin: center;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.2);
        opacity: 0;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            z-index: 15;
            /* border: 1px solid #afafaf; */
        }
    }

    & .card1 {
        z-index: 10;
        transform: rotateZ(-5deg) scaleY(0);
    }
    & .card2 {
        z-index: 9;
        transform: translateY(-20px) scaleY(0);
    }
    & .card3 {
        z-index: 8;
        transform: rotateZ(5deg) scaleY(0);
    }

    /* pri studies */
    & .firstcard2 {
        width: 220px;
        height: 220px;
    }

    & .firstcard1 {
        width: 300px;
        height: 220px;
    }
}

/* pri 1 */
.acad__institutions:nth-child(1):hover .firstcard2 {
    transform: translateY(-20px) scaleY(1);
    opacity: 1;
}

/* bhs 1 */
.acad__institutions:nth-child(2):hover .firstcard1 {
    transform: rotateZ(-5deg) scaleY(1);
    opacity: 1;
}

/* bhs2 */
.acad__institutions:nth-child(3):hover .secondcard2 {
    transform: translateY(-20px) scaleY(1);
    opacity: 1;
}

.acad__institutions:nth-child(3):hover .firstcard3 {
    transition-delay: 0.15s;
    transform: rotateZ(5deg) scaleY(1);
    opacity: 1;
}

/* cclg 1 */
.acad__institutions:nth-child(4):hover .secondcard3 {
    transform: rotateZ(5deg) scaleY(1);
    opacity: 1;
}
.acad__institutions:nth-child(4):hover .secondcard1 {
    transition-delay: 0.1s;
    transform: rotateZ(-5deg) scaleY(1);
    opacity: 1;
}
.acad__institutions:nth-child(4):hover .thirdcard2 {
    transition-delay: 0.2s;
    transform: translateY(-20px) scaleY(1);
    opacity: 1;
}

/* --------------------------{media queries}-------------------------------------------- */
/* @media (width > 1536px) {
  #s-last {
    height: 110vh;
  }
} */

/* lg */
@media (width > 768px) and (width < 1025px) {
    :root {
        --top-val-b1: 146vh;
        --padding-left-val: 30px;
        --left-dist: 30px;
        --left-val: 35px;
        --inc: 155px;
        --radius: 5px;
        --institute__data__height: 110px;
    }

    .acad__institutions {
        height: 175px;
        padding-left: var(--left-dist);
        padding-bottom: 10px;
        pointer-events: all !important;
    }
    #s-last {
        height: 95vh;
    }
    .hidden {
        font-size: 0.6em;
    }
}

/* md */
@media (max-width: 768px) {
    :root {
        --top-val-b1: 146vh;
        --padding-left-val: 30px;
        --left-dist: 30px;
        --left-val: 35px;
        --inc: 155px;
        --radius: 5px;
        --institute__data__height: 110px;
    }

    .acad__institutions {
        height: 175px;
        padding-left: var(--left-dist);
        padding-bottom: 10px;
    }
    #s-last {
        height: 115vh;
    }
    .hidden {
        font-size: 0.6em;
    }
    #s-last > div > div.acad__list > div {
        font-size: medium;
    }
    #academic__header {
        font-size: xx-large;
    }
    .academics__card__container {
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }
}

@media (max-width: 640px) {
    :root {
        --institute__data__height: 128px;
        --padding-left-val: 30px;
        --left-val: 25px;
        --inc: 85px;
    }
    #s-last {
        height: 120vh;
    }

    .ball-pointer {
        width: 10px;
        height: 10px;
        top: calc(
            var(--institute__data__height) * (-1) + var(--radius) * 1.5 + 40px
        );
    }

    .acad__institutions {
        height: 170px;
        padding-left: 30px;
        padding-bottom: 10px;
    }
}
