:root {
  /* --top-val-b1: calc(212px + 123vh - 123vh);
  --inc: 175px;
  --left-val: calc(160px + 10px - 10px); */

  --padding-left-val: 170px;
  --left-dist: 60px;
  --radius: 10px;
  --institute__data__height: 134.5px;
}

#s-last{
  position: relative;
  height: 110vh;
}

.academic__container {
  transform: none;
  /* border: 3px dotted; */
}

.ins__container {
  position: relative;
  /* border: 3px dotted; */
}

.acad__header {
  padding-top: 90px;
  margin: 30px;
  margin-top: 0;
  padding-top: 30px;
  margin-left: var(--margin-left);
  font-size: var(--heading-text-size);
  font-weight: var(--heading-weight);

  /* border: 1px solid red; */
}

.acad__list {
  /* border: 2px solid #a92d2d; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 0em;

  margin-top: 20px;
  padding-left: var(--padding-left-val);
  padding-right: 90px;
  font-size: calc(var(--paragraph-text-size) + 0.2em);
  font-weight: 200;
}

.acad__institutions {
  border-left: 1px solid #000;
  height: 145px;
  /* padding: 15px; */
  padding-left: var(--left-dist);
  padding-bottom: 30px;
}

.year,
.grade {
  display: inline;
}

.inst {
  font-size: larger;
  font-weight: 700;
}

.institute__data{
  position: relative;
}

.ball-pointer {
  width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
  background-color: #000;
  border-radius: 50%;
  position: relative;
  top: calc(var(--institute__data__height) * (-1) + var(--radius) * 1.5);
  left: calc(((-1) *  var(--left-dist)) - var(--radius));
  /* left: var(--left-val); */
}

/* +175px */
/* 
#ball-pointer-1 {
  top: var(--top-val-b1)
}

#ball-pointer-2 {
  top: calc(var(--top-val-b1) + var(--inc))
}

#ball-pointer-3 {
  top: calc(var(--top-val-b1) + var(--inc) * 2)
}

#ball-pointer-4 {
  top: calc(var(--top-val-b1) + var(--inc) * 3)
}
 */

#s-last{
  height: 125vh;
}

 /* --------------------------{media queries}-------------------------------------------- */

/* xs */
@media (max-width: 475px) {
  :root {
    --padding-left-val: 30px;
    --left-val: 25px;
    --inc: 85px;
  }

  .ball-pointer {
    width: 10px;
    height: 10px;
  }

  .acad__institutions {
    height: 145px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
}

/* sm */
@media (max-width: 640px) {
  :root {
    --padding-left-val: 30px;
    --left-val: 25px;
    --inc: 85px;
  }

  .ball-pointer {
    width: 10px;
    height: 10px;
  }

  .acad__institutions {
    height: 145px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
}

/* md */
@media (max-width: 768px) {
  :root {
    --top-val-b1: 146vh;
    --padding-left-val: 30px;
    --left-dist: 30px;
    --left-val: 35px;
    --inc: 155px;
    --radius: 5px;
    --institute__data__height: 90px;
  }

  .acad__institutions {
    height: 145px;
    padding-left: var(--left-dist);
    padding-bottom: 10px;
  }
}

/* lg */
/* @media (max-width: 1024px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* 2xl */
/* @media (max-width: 1536px) {} */