/* ------------------------{Root Variables}-------------------------------------------- */

:root {
  --icon-width: 32px;
  --icon-height: 32px;
  --text-color: #fff;
  --text-color-hover: #fff;
  --padding-top-contacts: 150px;
}

#s5-thanks { 
  height: 40vh; 
  font-family: 'MilitaryScribe'; font-size: 1.3em; text-decoration: none !important;
}
#s4-contacts {
  box-sizing: border-box;
  padding-top: 8vh;
  /* border: 1px solid green; */
}

/* ------------------------{expC}-------------------------------------------- */

.expC {
  box-sizing: border-box;
  /* padding-top: var(--padding-top-contacts); */
  /* margin: 0px 30px 0 var(--margin-left); */
  margin: 0;
  padding: var(--padding-top-contacts) 30px 0 var(--margin-left);
  font-size: var(--heading-text-size);
  font-weight: var(--heading-weight);
}

/* ------------------------{fs-contacts}-------------------------------------------- */
.part1{
  /* height: 100%; */
  height: 400px;
  /* border: 1px solid; */
  display: flex;
  box-sizing: border-box;
  padding-left: 70px;
}
.fs-contacts {
  height: 300px;
  width: 26vw;
  /* margin-top: 20px; */
  box-sizing: border-box;
  padding: 10px;
  padding-left: var(--margin-left);
  font-size: 1.2rem;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  /* border: 1px solid blue; */
}

.fs-contacts a,
.github_logo a,
.yt_logo a ,
.t_logo a{
  text-decoration: none !important;
  border-bottom: none !important;
  color: black !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#e-logo,
#g-logo,
#y-logo,
#l-logo,
#t-logo {
  width: var(--icon-width);
  height: var(--icon-height);
  border: none;
}

#t-logo{
  width: 30px;
  height: 30px;
}

/* .github-logo:hover{border-bottom: 5px solid rgb(100%);} */

/* ------------------------{container}-------------------------------------------- */

.contacts-container {
  display: flex;
  box-sizing: border-box;
  margin-top: 3rem;
  /* border: 1px solid red; */
}

/* ------------------------{CV}-------------------------------------------- */
.download-cv{
  border: 2px solid;
  font-size: 25px;
  font-family: poppins,sans-serif;
  font-size: 1.3rem;
  position: relative;
  height: 45px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  /* margin-top: 40px; */
  background-color: rgba(0, 0, 0, 0);
}
.download-cv:hover{
  background-color: black;
}
.download-cv:hover a{
  color: white;
}
.download-cv a{
  text-decoration: none;
  color: black;
}
.download-cv a:hover{
  border-bottom: none;
}

/* ------------------------{email-box}-------------------------------------------- */

.email-box {
  position: absolute;
  top: 0;
  left: 47vw;
  /* margin-right: 100px; */
  /* top: 40px; */
  background-color: var(--email-box-color);
  width: 600px;
  height: 400px;
  display: flex;
  border-radius: var(--rr);
  /* border: 1px solid orangered; */
}

/* ------------------------{box}-------------------------------------------- */

.box {
  /* border: 1px solid greenyellow; */
  position: relative;
  width: calc(600px - 30px);
  height: calc(400px - 30px);
  border-radius: var(--rr);
  padding: 30px;
  padding-top: 70px;

  overflow: hidden;
  z-index: 999999;

  & label{
    font-family: poppins, sans-serif;
    font-size: 1.2rem;
  }

  & input{
    /* margin-left: 30px; */
    height: 30px;
    width: 250px;
    background-color: rgba(255, 243, 226, 0.467) !important;
    border-radius: 10px !important;
    border: 1px solid black !important;
    font-size: 1rem;
    display: inline !important;
  }

  & textarea{
    /* margin-left: 30px; */
    width: 100%;
    height: 150px;
    border-radius: 15px;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: rgba(250, 235, 215, 0.565);
  }

  & button{
    background-color: black;
    color: #fff;
    width: 150px;
    margin-left: calc(50% - 75px);
    border-width: 2px;
  }
}

.email-btn:hover{
  background-color: rgb(220,192,178) !important;
  color: black !important;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 899;
  transition: all 0.3s;
}

/* ------------------------{c-text}-------------------------------------------- */
/* 
#c-text {
  position: absolute;
  z-index: 9899;
  background-color: yellow;
  bottom: 40px;
  opacity: 0;
}

.box:hover #c-text {
  opacity: 1;
}

.box:hover img {
  transform: scale(1.2);
} 
*/
/* ------------------------{hide-this-thing}-------------------------------------------- */

.hide-this-thing {
  font-size: 0;
  opacity: 0;
  display: none;
}

/* -------------------------------------------------------------------- */

/* @media (max-width: 1536px) {} */
/* @media (max-width: 1280px) {} */
/* @media (max-width: 1024px) {} */

@media (width > 1560px) {
  .email-box{
    left: 59vw;
  }
}

/* md ipads */
@media (max-width: 1025px) {
  :root {
    --icon-width: 35px;
    --icon-height: 35px;
    --text-color: #fff;
    --text-color-hover: #fff;
    --padding-top-contacts: 80px;
  }

  #s4-contacts {
    height: 100vh;
    padding-top: 4vh;
  }

  .contacts-container{
    margin-top: 0.5rem;
    height: 350px;
  }

  .part1{
    padding-left: 0px;
    height: 100%;
    width: 100%;
  }

  .fs-contacts {
    /* height: calc(var(--icon-height) * 3); */
    /* width: 10vw; */
    /* flex-direction: column; */
    gap: 0.6rem;
    padding-left: 120px;
    font-size: 1rem;
    position: relative;
    width: 100%;
    height: 250px;
  }
  
  .download-cv{
    border: 3px solid;
    font-size: 14px;
    /* left: 100px; */
    /* top: 100px; */
    height: 30px;
    width: 130px;
    border-radius: 20px;
  }

  .email-box{
    top: 43vh;
    left: 10%;
    width: 80%;
    height: 400px;
    border-radius: 25px;
  }
  .box{
    width: 98%;
    height: 98%;
    border-radius: 25px;
    & label{
      font-size: 1rem;
    }
    & input{
      font-size: 0.9rem;
    }

    & button{
      width: 100px;
      margin-left: calc(50% - 50px);
      height: 30px;
    }
  }
}


/* for ipad mini */
@media (max-width: 768px) {
  :root {
    --icon-width: 35px;
    --icon-height: 35px;
    --text-color: #fff;
    --text-color-hover: #fff;
    --padding-top-contacts: 80px;
  }

  #s4-contacts {
    height: 130vh;
    padding-top: 4vh;
  }

  .fs-contacts {
    /* height: calc(var(--icon-height) * 3); */
    /* width: 10vw; */
    /* flex-direction: column; */
    gap: 0.6rem;
    padding-left: 40px;
    font-size: 1rem;
    position: relative;
    width: 100%;
    height: 250px;
  }
  .part1{
    padding-left: 0px;
    height: 100%;
    width: 100%;
  }
  .contacts-container{
    margin-top: 0.5rem;
    height: 310px;
  }

  .email-box{
    top: 47vh;
    left: 50px;
    width: calc(100% - 100px);
    height: 400px;
    border-radius: 25px;
  }
  .box{
    width: 98%;
    height: 98%;
    border-radius: 25px;
    & label{
      font-size: 1rem;
    }
    & input{
      font-size: 0.9rem;
    }

    & button{
      width: 100px;
      margin-left: calc(50% - 50px);
      height: 30px;
    }
  }
}



/* for mobiles */
@media (max-width: 475px) {
  :root {
    --icon-width: 35px;
    --icon-height: 35px;
    --text-color: #fff;
    --text-color-hover: #fff;
    --padding-top-contacts: 80px;
  }

  #s4-contacts {
    height: 130vh;
    padding-top: 4vh;
  }

  .fs-contacts {
    /* height: calc(var(--icon-height) * 3); */
    /* width: 10vw; */
    /* flex-direction: column; */
    gap: 0.6rem;
    padding-left: 40px;
    font-size: 1rem;
    position: relative;
    width: 100%;
    height: 250px;
  }
  .part1{
    padding-left: 0px;
    height: 100%;
    width: 100%;
  }
  .contacts-container{
    margin-top: 0.5rem;
    height: 310px;
  }

  .email-box{
    top: 47vh;
    left: 30px;
    width: calc(100% - 60px);
    height: 450px;
    border-radius: 25px;
  }
  .box{
    width: 98%;
    height: 98%;
    border-radius: 25px;
    & label{
      font-size: 1rem;
    }
    & input{
      font-size: 0.9rem;
      width: 200px;
    }

    & button{
      width: 100px;
      margin-left: calc(50% - 50px);
      height: 30px;
    }
  }
}
