/* ------------------------{Root Variables}-------------------------------------------- */

:root {
  --icon-width: 50px;
  --icon-height: 50px;
  --text-color: #fff;
  --text-color-hover: #fff;
  --padding-top-contacts: 150px;
}

#s5-thanks { height: 40vh; font-family: 'MilitaryScribe'; font-size: 1.3em; text-decoration: none !important;}
/* 
#s4-contacts {
  border: 1px solid;
} */

/* ------------------------{expC}-------------------------------------------- */

.expC {
  padding-top: var(--padding-top-contacts);
  /* Adjusted padding-top */
  margin: 0px 30px 0 var(--margin-left);
  font-size: var(--heading-text-size);
  font-weight: var(--heading-weight);
}

/* ------------------------{fs-contacts}-------------------------------------------- */

.fs-contacts {
  height: var(--icon-height);
  width: 20vw;
  margin-top: 20px;
  padding-left: var(--margin-left);
  font-size: 1.6em;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  /* border: 1px solid; */
}

.fs-contacts a,
.github_logo a,
.yt_logo a {
  text-decoration: none !important;
  border-bottom: none !important;
}

.github_logo,
.yt_logo {
  font-size: 0;
}

#e-logo,
#g-logo,
#y-logo,
#l-logo {
  width: var(--icon-width);
  height: var(--icon-height);
  border: none;
}

/* .github-logo:hover{border-bottom: 5px solid rgb(100%);} */

/* ------------------------{container}-------------------------------------------- */

.contacts-container {
  display: flex;
}

/* ------------------------{CV}-------------------------------------------- */
.download-cv{
  border: 5px solid;
  font-size: 25px;
  font-family:   Helvetica,sans-serif;
  position: relative;
  left: -230px;
  top: 240px;
  height: 45px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  /* margin-top: 40px; */
  background-color: rgba(0, 0, 0, 0);
}
.download-cv:hover{
  background-color: black;
}
.download-cv:hover a{
  color: white;
}
.download-cv a{
  text-decoration: none;
  color: black;
}
.download-cv a:hover{
  border-bottom: none;
}

/* ------------------------{email-box}-------------------------------------------- */

.email-box {
  position: relative;
  margin-left: 100px;
  top: 40px;
  background-color: var(--email-box-color);
  /* Assuming --email-box-color is defined */
  width: 600px;
  height: 400px;
  display: flex;
  border-radius: var(--rr);
}

/* ------------------------{box}-------------------------------------------- */

.box {
  position: relative;
  width: 570px;
  height: 370px;
  border: 0px dotted black;
  border-radius: var(--rr);
  padding: 30px;
  padding-top: 70px;

  overflow: hidden;
  z-index: 999999;

  & input{
    margin-left: 30px;
    width: 350px;
    background-color: rgba(250, 235, 215, 0.565) !important;
    border-radius: 20px !important;
    border: 1px solid black !important;
  }

  & textarea{
    margin-left: 30px;
    width: 450px;
    height: 140px;
    border-radius: 25px;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: rgba(250, 235, 215, 0.565);
  }

  & button{
    background-color: black;
    color: #fff;
    width: 150px;
    margin-left: calc(50% - 75px);
  }
}

.email-btn:hover{
  background-color: rgb(220,192,178) !important;
  color: black !important;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 899;
  transition: all 0.3s;
}

/* ------------------------{c-text}-------------------------------------------- */
/* 
#c-text {
  position: absolute;
  z-index: 9899;
  background-color: yellow;
  bottom: 40px;
  opacity: 0;
}

.box:hover #c-text {
  opacity: 1;
}

.box:hover img {
  transform: scale(1.2);
} 
*/
/* ------------------------{hide-this-thing}-------------------------------------------- */

.hide-this-thing {
  font-size: 0;
  opacity: 0;
  display: none;
}

/* -------------------------------------------------------------------- */

/* @media (max-width: 1536px) {} */
/* @media (max-width: 1280px) {} */
/* @media (max-width: 1024px) {} */

/* md */
@media (max-width: 1025px) {
  .email-box {
    display: none;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    opacity: 0;
  }

  :root {
    --icon-width: 35px;
    --icon-height: 35px;
    --text-color: #fff;
    --text-color-hover: #fff;
    --padding-top-contacts: 80px;

  }

  #s4-contacts {
    height: 40vh;
  }

  .fs-contacts {
    height: calc(var(--icon-height) * 3);
    width: 10vw;
    flex-direction: column;
    gap: 0.6em;
    padding-left: 40px;
  }
  .download-cv{
    border: 3px solid;
    font-size: 18px;
    left: 100px;
    top: 100px;
    height: 30px;
    width: 130px;
    border-radius: 20px;
  }
}

@media (max-width: 640px) {
  .email-box
  .box {
    display: none;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
  }

  :root {
    --icon-width: 35px;
    --icon-height: 35px;
    --text-color: #fff;
    --text-color-hover: #fff;
    --padding-top-contacts: 80px;

  }

  #s4-contacts {
    height: 70vh;
  }

  .fs-contacts {
    height: calc(var(--icon-height) * 3);
    width: 10vw;
    flex-direction: column;
    gap: 0.6em;
    padding-left: 40px;
  }

  .download-cv{
    font-size: 1rem;
  }
}


@media (max-width: 475px) {
  .email-box,
  .box {
    display: none;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
  }

  :root {
    --icon-width: 35px;
    --icon-height: 35px;
    --text-color: #fff;
    --text-color-hover: #fff;
    --padding-top-contacts: 80px;

  }

  #s4-contacts {
    height: 70vh;
  }

  .fs-contacts {
    height: calc(var(--icon-height) * 3);
    width: 10vw;
    flex-direction: column;
    gap: 0.6em;
    padding-left: 40px;
  }
}
