.cursor {
  z-index: 77;
  position: fixed;
  top: 150vh;
  left: 0;
  --size: 120px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  background: #fffcef;
  transition: all 0.5s cubic-bezier(0, 0.02, 0, 1);
  transform-origin: center center;

  mix-blend-mode: difference;
  pointer-events: none;
  display: none !important;
}

@media ((width > 1024px) and (pointer: fine)) {
  .cursor {
    display: block;
  }
}
