/* cursor */
.cursor {
  z-index: 77;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fffcef;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.1s;
}

@media (max-width: 1024px) {
  .cursor {
    display: none;
  }
}
