/* ------------------------{hello}-------------------------------------------- */

:root {
  --letter-spacing: -0.02em;
}

#hello {
  font-size: var(--hello-mega-font-size);
  font-family: Dahlia, sans-serif;
  font-weight: 900;
  margin: 30px 30px 30px 30px;
  margin-left: calc(var(--margin-left) + var(--letter-spacing));
  letter-spacing: var(--letter-spacing);
  /* animation: slideIn 1.2s ease-out; */
  display: inline;
  transition: transform 0.3s;
}

/* ------------------------{div1}-------------------------------------------- */

#s1 {
  opacity: 1;
  height: 125vh;
  /* background-color: rgb(255, 247, 227); */
  border-radius: 15px;
}

main{
  border-radius: 15px;
}

/* .div1 { margin-top: 175px; } */
.reg {
  z-index: 20;
}

/* ------------------------{d1-2-3}-------------------------------------------- */

.d1-2-3 {
  border: 1px solid;
  border-radius: 15px;
  width: calc(100% - 2px);
  height: 100%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  /* background: url(../../images/paper-texture.webp) no-repeat; */
  background-size: cover;
  /* background-color: rgb(184, 147, 128); */
  background-color: rgb(220, 192, 178);
  background-position: center;
  position: relative;
  z-index: 74;
}

.ultimate-wrapper {
  border-radius: 15px;
}
/* ------------------------{name}-------------------------------------------- */

.name {
  font-family: MondiaThin;
  margin: 0px 30px 0px var(--margin-left);
  font-weight: 500;
  font-size: var(--introduction-text-size);
}

.name span {
  font-weight: 300;
  transition: 0.8s;
}

.name span:hover {
  /* animation: underline 0.8s forwards; */
  transform: translateX(30px) !important;
  transition: transorm 0.8s;
}


#subhajit {
  font-family: "MilitaryScribe", cursive, sans-serif;
  font-size: calc(var(--introduction-text-size) - 0.1em);
  line-height: calc(var(--introduction-text-size) - 0.4em);
  font-weight: 300;
}

.intro {
  margin: 0px 30px 0px var(--margin-left);
  font-family: MondiaThin;
  font-weight: 400;
  font-size: var(--introduction-text-size);
}


#div1 {
  grid-area: 2/1/4/3;
  border-radius: 15px 15px 0 0;
}

#div2 {
  position: relative;
  color: var(--tc);
  color: rgb(22, 22, 22) !important;
  grid-area: 4/1/8/4;
}

#div2 strong{
  text-decoration: underline;
}

#divv3 {
  grid-area: 2/3/5/4;
  /* border: 1px solid; */
  border-radius: 30px;

  margin-right: 7.5rem;
  margin-bottom: 0rem;
  margin-left: 2rem;
  margin-top: 4rem;

  transition: all ease;
  transform-style: preserve-3d;
  background-color: var(--bg3);
  
  box-sizing: border-box;
  padding: 3px;
}

html.invert #divv3,
body.invert #divv3 {
  background-color: rgb(67, 67, 67);
}

.img_container {
  border-radius: 40px;
  background-color: rgb(98, 98, 98);
  background-image: url('../../images/p4.png');
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: 100% 100%;
  transition: all 0.3s ease;
}

#divv3:hover .img_container{
  border-radius: 160px;
}

#divv4 {
  grid-area: 7/1/-1/-1;
  border-radius: 0 0 15px 15px;
}

body{
  border-radius: 15px;
}

/* -------------------------------------------------------------------- */

@media (width > 1604px) {
  #divv3{
    grid-area: 2/3/4/4;
    margin-right: 8rem;
    /* margin-left: 1rem; */
    /* margin-top: 1.5rem; */
    border-radius: 60px;
  }
  .img_container{
    border-radius: 90px;
  }
}

@media (width > 767px) and (width < 1025px){
  #divv3{
    grid-area: 2/3/4/4;
    margin-right: 3rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
}


@media (max-width: 767px) {
  #div2 {
    margin-top: 40px;
  }

  #subhajit {
    font-size: calc(var(--introduction-text-size) + 0.4em);
  }

  #div2 {
    color: var(--tc);
    /* border: 1px solid; */
    grid-area: 3/1/-1/4;
    z-index: 1;
    line-height: 1.5em;
  }

  #divv3 {
    border: 1px solid;
    border-radius: 25px;
    overflow: hidden;
    grid-area: 2/3/3/4;
    margin-right: 2.2rem;
    /* flex: 0.4; */
    height: 160px;
    width: 100px;
    margin-top: 0rem;
  }
  #divv3:hover .img_container{
    border-radius: 20px;
  }
  .img_container{
    border-radius: 20px;

  }
  #s1{
    height: 105vh;
  }
}

