/* ------------------------{hello}-------------------------------------------- */

:root {
  --letter-spacing: -0.02em;
}

#hello {
  font-size: var(--hello-mega-font-size);
  font-family: 'CabinetGrotesk-Black';
  font-family: Dahlia;
  font-weight: 900;
  margin: 30px 30px 30px 30px;
  margin-left: calc(var(--margin-left) + var(--letter-spacing));
  letter-spacing: var(--letter-spacing);
  /* animation: slideIn 1.2s ease-out; */
  display: inline;
  transition: transform 0.3s;
}

/* ------------------------{div1}-------------------------------------------- */

#s1 {
  opacity: 1;
  height: 125vh;
}

/* .div1 { margin-top: 175px; } */
.reg {
  z-index: 20;
}

/* ------------------------{name}-------------------------------------------- */

.name {
  font-family: MondiaThin;
  margin: 0px 30px 0px var(--margin-left);
  font-weight: 500;
  font-size: var(--introduction-text-size);
}

.name span {
  font-weight: 300;
}

.name span:hover {
  animation: underline 1s forwards;
}

#subhajit {
  font-family: tangerine;
  font-size: calc(var(--introduction-text-size) + 0.4em);
  font-weight: 300;
}

#div1 {
  /* border: 1px solid; */
  grid-area: 2/1/4/3;
  /* background-color: red; */
}

#div2 {
  color: var(-tc);
  /* border: 1px solid; */
  grid-area: 4/1/8/4;
}
#div2 strong{
  text-decoration: underline;
}
#divv3 {
  border: 1px solid;
  border-radius: 50%;
  /* border-radius: 10%; */
  overflow: hidden;
  grid-area: 2/3/6/4;
  /* background-color: rgba(69, 75, 73, 0.29); */
  background-color: var(--bg3);
  margin-right: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0.4;
  transition: 0.3s;
  position: absolute;
  height: calc(237px * 1.75);
  /* top: 200vh; */
}

#divv4 {
  grid-area: 7/1/-1/-1;
  /* border-top: 1px solid; */
  /* background-color: var(--bg3); */
  /* background-color: aqua; */
}

#divv3 img {
  display: block;
  object-fit: cover;
  /* display: none; */
  width: 100%;
  height: 100%;
  transition: 0.3s;
  /* mix-blend-mode: soft-light; */
}


#divv3:hover{
  max-height: calc(237px * 1.86);
  transition: 0.3s;
}
#divv3:hover img{
  transform: scale(1.15);
  transition: 0.3s;
}

/* ------------------------{intro}-------------------------------------------- */

.intro {
  margin: 0px 30px 0px var(--margin-left);
  font-family: MondiaThin;
  font-weight: 400;
  font-size: var(--introduction-text-size);
  
  /* border: 1px solid; */
}

/* ------------------------{d1-2}-------------------------------------------- */

.d1-2-3 {
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-radius: 15px;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid; */
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

/* -------------------------------------------------------------------- */

@media (max-width: 768px) {
  #div2 {
    margin-top: 40px;
  }

  #subhajit {
    font-size: calc(var(--introduction-text-size) + 0.4em);
  }

  #div2 {
    color: var(-tc);
    /* border: 1px solid; */
    grid-area: 3/1/5/4;
    z-index: 1;
  }

  #divv3 {
    border: 1px solid;
    border-radius: 45%;
    overflow: hidden;
    grid-area: 2/3/3/4;
    margin-right: 1em;
    flex: 0.4;
    height: 160px;
  }
  #s1{
    height: 100vh;
  }
}