/* ------------------------{invert}-------------------------------------------- */

.invert {
  filter: invert(1);
  position: relative;
}


html.invert .d1-2-3,
body.invert .d1-2-3{
  background-color: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
}

html.invert,
body.invert,
html.invert #s-last,
body.invert #s-last,

html.invert #s2-skills,
body.invert #s2-skills,

html.invert #s3-projects,
body.invert #s3-projects,

html.invert #s4-contacts,
html.invert #s4-contacts,

html.invert #s5-thanks,
body.invert #s5-thanks{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 71 !important;
}


#s1{
  position: relative !important;
  z-index: 73;
}

html.invert #s1,
body.invert #s1{
  background-color: transparent;
}



/* ------------------------{invert-button}-------------------------------------------- */

#invert-button {
  position: fixed;
  top: var(--top);
  top: calc(var(--top) + 3px);
  right: calc(var(--right) + 65px);
  z-index: 85;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: 0;
  opacity: 1;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: var(--transition-duration);
  background-image: url(../../icons/dm3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

#invert-button:hover {
  transform: scale(1.0);
}

/* -------------------------------------------------------------------- */

/* md */
@media (max-width: 768px) {
  #invert-button {
    right: calc(var(--right) + 6px);
    top: calc(var(--top) + 45px);
    width: 26px;
    height: 26px;
  }

  #invert-button:hover {
    transform: scale(1.0);
    filter: invert(0%);
  }
}

/* sm */
@media (max-width: 640px) {
  #invert-button {
    right: calc(var(--right) + 6px);
    top: calc(var(--top) + 45px);
    width: 26px;
    height: 26px;
  }

  #invert-button:hover {
    transform: scale(1.0);
    filter: invert(0%);
  }
}


/* xs */
@media (max-width: 475px) {
  #invert-button {
    right: calc(var(--right) + 6px);
    top: calc(var(--top) + 45px);
    width: 26px;
    height: 26px;
  }

  #invert-button:hover {
    transform: scale(1.0);
    filter: invert(0%);
  }

}
