.invert {
  filter: invert(1);
  /* ekhane var() use kora jabe na, kaj korche na, var(--invert-value) */
}

html.invert,
html.invert body,
html.invert main,
html.invert #s1,
html.invert #s-last,
html.invert #s2-skills,
html.invert #s3-projects,
html.invert #s4-contacts,
html.invert #s5-thanks,
html.invert .d1-2-3 {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-font);
}
html.invert .d1-2-3 {
  color: var(--dark-mode-d1-2-3-font);
  border-color: var(--dark-mode-d1-2-3-border);
}

html.invert #divv3 {
  background-color: var(--dark-mode-bg);
}

html.invert #divv3 .img_container {
  background-color: var(--dark-mode-d1-2-3-bg);
}

html.invert .skill__box {
  background-color: rgb(221, 221, 221);
}

/* 255-x */
html.invert .list-elem.clicked {
  background-color: rgb(204, 204, 204);
}

html.invert .inverse2 {
  border-right: 3px solid rgba(200, 200, 200, 1);
  background-color: rgba(200, 200, 200, 0.3);
}

.inverse2 {
  border-bottom: 1px solid rgba(37, 37, 37, 0.2);
}

.list-elem.clicked {
  background-color: var(--skill-list-clicked-clr);
  color: aliceblue;
}

html.invert .list-elem.clicked {
  background-color: black;
  color: white;
}

/* ------------------------{invert-button}-------------------------------------------- */

#invert-button {
  position: relative;
  z-index: 85;
  width: 36px;
  height: 36px;
  font-size: 0;
  background-color: transparent;
  border: none;
  background-image: url(../../icons/dm3.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  #invert-button {
    width: 26px;
    height: 26px;
  }
}
