/* ------------------------{invert}-------------------------------------------- */

.invert {
  filter: invert(1);
  position: relative;
}

html.invert,
body.invert,
html.invert body,
html.invert main,
html.invert #s-last,
html.invert #s2-skills,
html.invert #s3-projects,
html.invert #s4-contacts,
html.invert #s5-thanks {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 71 !important;
}

html.invert main {
  background-color: white;
}

#s1 {
  position: relative !important;
  z-index: 73;
}

/* ------------------------{invert-button}-------------------------------------------- */

#invert-button {
  position: relative;
  z-index: 85;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: 0;
  opacity: 1;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  background-image: url(../../icons/dm3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
}

#invert-button:hover {
  transform: scale(1);
}

@media (max-width: 768px) {
  #invert-button {
    width: 26px;
    height: 26px;
  }
}
