:root {
    --nav-height: 10vh;
    --li-width: 100%;
    --li-height-initial: 0;
    --li-text-size: 2em;
}

.nav {
    z-index: 999999;
    height: var(--nav-height);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    animation-delay: 500ms;
    display: none;
}

.nav.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}


/* ------------------------{ul}-------------------------------------------- */

.ul {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ------------------------{li}-------------------------------------------- */

.li {
    position: relative;
    margin: 0px;
    padding: 0;
    width: var(--li-width);
    height: 0vh;

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: rgb(122, 117, 107) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    animation: come-in 600ms forwards;

    display: flex;
    justify-content: center;
    align-items: center;
}

.li {
    width: 100vw;
}

.li a {
    color: rgb(0, 0, 0) !important;
}

.li a:hover {
    text-decoration: none !important;
}

.sp {
    display: block;
}

.animate-li {
    animation: come-in 400ms forwards;
}

/* ------------------------{Nav-Menu}-------------------------------------------- */
.nav-menu {
    z-index: var(--svg-z-index);
    position: fixed;
    top: var(--top);
    right: var(--right);
    width: 40px;
    height: 40px;
    background-color: rgba(237, 56, 56, 0);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------{close-icon}-------------------------------------------- */

#cl-icon {
    border-left: 1px solid rgb(0, 0, 0);
    color: white;
}

.close-icon {
    width: 39px;
    height: 39px;
    position: fixed;
    top: calc(5vh - 20px);
    right: 20px;
    z-index: var(--svg-z-index);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* ------------------------{nav li span}-------------------------------------------- */
.nav .ul .li span {
    font-size: var(--li-text-size);
    opacity: 0;
}

.nav .ul .li span.appear {
    opacity: 1;
}

@keyframes come-in {
    0% {
        height: 0;
    }

    100% {
        height: 10vh;
    }
}

#nav-icon-2 {
    display: none;
}

/* ------------------------{media queries}-------------------------------------------- */

@media (width > 1536px) {
    header {
        position: fixed;
        top: calc(var(--top) - 10px);
        right: 28px;
        width: 150px;
        height: 60px;
        background-color: rgba(113, 113, 113, 0.413);
        border-radius: 45px;
    }
}

@media (max-width: 768px) {
    #nav-icon-2 {
        display: block;
    }

    #nav-icon {
        display: none;
    }

    :root {
        --nav-height: 10vh;
        --li-width: 100%;
        --li-text-size: 1.2em;
    }

    .ul {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .li {
        justify-content: flex-start;
        padding-left: 60px;
    }

    .close-icon {
        top: 15px;
        right: 10px;
        width: 28px;
        height: 28px;
    }

    .animate-li {
        animation: come-in 400ms forwards;
    }

    .li:hover .sp {
        border-bottom: 1px solid black;
        transition: 0.3s ease-out;
    }
}