* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#s3-projects {
  height: auto;
}

.project-heading-container {
  position: relative;
  margin: 0;
  padding-top: 0px;
  width: 100%;
}

.exp {
  margin: 200px 30px 30px var(--margin-left);
  font-size: var(--heading-text-size);
  font-weight: var(--heading-weight);
}
/* ------------------------ */
.projects-wrapper {
  /* border: 1px solid red; */
  padding: 20px;
  gap: 5vh;
  margin-top: 6vh;
}

.project {
  width: 80vw;
  height: 40vh;
  border-radius: 5vh;
  background-color: var(--card-container-color);
}

html.invert .project {
  background-color: rgb(221, 221, 221);
}

/* will make it like llama website */
