/* ------------------------{main parents}-------------------------------------------- */

#s3-projects {
  margin-top: 0px;
}

.d3 {
  position: relative;
  margin: 0;
  padding-top: 90px;
}

/* ------------------------{exp}-------------------------------------------- */

.exp {
  padding-top: 60px;
  margin: 30px;
  margin-left: var(--margin-left);
  margin-top: 200px;
  font-size: var(--heading-text-size);
  font-weight: var(--heading-weight);
}

/* ------------------------{p-list}-------------------------------------------- */
/* for mobiles */
.p-list {
  height: 160vh;
  width: 80vw;
  margin-top: 20px;
  padding-left: 20px;

  font-size: 0.8em;
  font-weight: 200;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  gap: 0.6em;
}

.projects{
  width: 80vw;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.projects img{
  object-fit: cover;
}

img {
  display: block;
}

.project_data {
  position: absolute;
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  z-index: 10;
  opacity: 0;
  transition: all 0.4s ease-in;
  /* font-family: 'Dahlia'; */
}

.xxds {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
  color: white !important;
  margin: auto;
}

#xds {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}








/* ------------------------{projects__gallery}-------------------------------------------- */

.projects__gallery {
  position: relative;
  height: 500px;
  width: 85vw;

  margin: 70px calc(var(--margin-left) + 20px) 0px calc(var(--margin-left) + 20px);

  display: flex;
  justify-content: center;

  /* background-color: rgb(210, 182, 168); */
  border-radius: 30px;
  /* border: 1px solid; */
  box-sizing: border-box;
}

.slider{
  box-sizing: border-box;
  /* border: 1px solid; */
  border-radius: 30px;
  /* background-color: rgb(210, 182, 168); */
  position: relative;
  top: -16px;
  display: flex;
}

.gitem {
  /* border: 1px solid black; */
  width: 190px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.3) inset; */
  box-shadow: 0 10px 20px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  transition: all 0.75s !important;

  &:nth-child(1), &:nth-child(2) {
    left: 5px;
    top: 5px;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    transform: none;
    border-radius: 30px;
    box-shadow: none;
    opacity: 1;
    /* border: 1px solid; */
  }

  &:nth-child(3) { left: 44%; }
  &:nth-child(4) { left: calc(44% + 210px); }
  &:nth-child(5) { left: calc(44% + 420px); }
  &:nth-child(6) { left: calc(44% + 630px); opacity: 0; }

  &:nth-child(2n){
    background-color: rgb(220, 192, 178);
  }

  &:nth-child(2n+1){
    background-color: rgb(180, 152, 138);
  }
}

.gcontent {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 1rem MondiaThin,helvetica,sans-serif;
  color: white;
  /* color: darkorange; */
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);

  /*  */

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
    font-size: 0.85rem;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.75rem;
    font-size: 1rem;

    opacity: 0;
    display: none;
  }

  & a {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
    font-family: 'JetBrains Mono', monospace, sans-serif;
    background-color: rgba(0,0,0,0.91);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.75rem;
    cursor: pointer;

    opacity: 0;
    display: none;
    
    & svg{
      filter: invert(1);
    }

    &:hover {
      background-color: white;
      color: black;
      border: 2px solid black;
    }

    /* &:hover & svg{
      filter: invert(1);
    } */
  }
}

/* only the style of the nth child(2n) will be applied. */

/* .gcontent */
.gitem:nth-of-type(2) .title{
  font-size: 1.5rem;
}
.gitem:nth-of-type(2) .description,
.gitem:nth-of-type(2) a {
  display: flex;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nnn {
  position: absolute;
  bottom: 1rem;
  z-index: 5;
  user-select: none;
  width: auto;
  height: fit-content;
  /* border: 1px solid; */
  display: flex;
  align-items: end;

  & .btn {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.25rem;
    border-radius: 35px;
    cursor: pointer;
    width: 2.85rem;
    height: 1.75rem;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

/* relaxing melody 3.jpeg */
#p_1{background-image: url('../../images/dark_paper.svg');}

/* encrypt ease 2.jpeg*/
/* #p_2{background-image: url('../../images/2.jpeg');} */

/* ad free news   1.jpeg */
#p_3{background-image: url('../../images/crax.svg');}

/* notice scraper 4.jpeg */
#p_4{background-image: url('../../images/canion.svg');}

/* class timing  5.jpeg */
#p_5{background-image: url('../../images/dark_balls.svg');}

/* blogs  6.jpeg */
#p_6{background-image: url('../../images/6.jpeg');}


/* -------------------------------------------------------------------- */


@media (width > 1536px) {
  .projects__gallery{
    width: 90vw;
  }

  .gitem{
    &:nth-child(3) { left: 44%; }
    &:nth-child(4) { left: calc(44% + 210px); }
    &:nth-child(5) { left: calc(44% + 420px); }
    &:nth-child(6) { left: calc(44% + 630px); opacity: 1; }
  }

  #s3-projects{
    height: 80vh;
  }
}



@media (width > 768px) and (width < 1225px) {
  #s3-projects{
    height: 74vh;
  }
  .gcontent {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .gitem {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); opacity: 0;}
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }

  .projects__gallery{
    width: 90vw;
    margin: 70px calc(var(--margin-left) + 20px) 0px calc(var(--margin-left) - 30px);
  }
}

/* ipad mini */
@media (min-width: 601px) and (max-width: 768px) {
  #gallery{
    display: none;
  }
  .p-list{
    display: flex;
  }
  .projects{
    height: 25vh;
    width: 90vw;
    justify-content: center;
    align-items: center;
    left: 30px;
  }
  #s3-projects{
    height: 194vh;
  }
  .project_data{
    opacity: 1;
    font-size: 1.4rem;
  }

  .xxds{
    width: 40px;
    height: 40px;
  }

  #xds{
    width: 25px;
    height: 25px;
  }
}

/* mobile */
@media (max-width: 600px) {
  #gallery{
    display: none;
  }
  .p-list{
    display: flex;
  }
  .projects{
    height: 25vh;
  }
  #s3-projects{
    height: 194vh;
  }
  .project_data{
    opacity: 1;
    font-size: 1.4em;
  }
  .xxds{
    width: 40px;
    height: 40px;
  }

  #xds{
    width: 25px;
    height: 25px;
  }
}
