::-webkit-scrollbar,
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  display: none !important;
  width: 0 !important;
}
/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
html,
body {
  overflow: -moz-hidden; /* Firefox */
  overflow: hidden; /* Other browsers */
  /* width , height = 100% so i can still scroll in y */
}
