/*------- root ------------------------------------------------------ */

:root {
  --card-container-width: 650px;
  --card-container-height: 400px;
  --margin-dist: 100px;
  --card-font-size: 1.3em;
  --s-list-font-size: 2em;
}

/* ------- SKILLS ------------------------------------------------------ */

#s2-skills {
  height: 103vh;
}

.d3 {
  position: relative;
  margin: 0;
  padding-top: 90px;
}

/* SK = skill list main id */
/* ss = skill heading */
#SK,
#SS {
  border: none;
}

.progress-bar {
  margin-top: 10px;
  display: flex;
  height: 12px;
  background-color: var(--bg3);
  width: 90%;
  border-radius: 6px;
  justify-content: flex-start !important;
}

mark {
  background-color: var(--mark-clr);
  font-size: larger;
  box-sizing: content-box;
  padding: 10px;
  border-radius: 15px;
}

/* #ff8c007d */

.growth {
  display: flex;
  position: relative;
  height: 12px;
  width: 0%;
  border-radius: 6px;
  background-color: rgb(0, 172, 148);
}

/* exps = skill heading span */
.exps {
  padding-top: 30px;
  margin-left: var(--margin-left);
  margin-top: 100px;
  font-size: var(--heading-text-size);
  font-weight: var(--heading-weight);
}

/* ------- SKILL WRAPPER ----------------------------------------------- */
.skill-wrapper {
  display: flex;
  align-items: center;
}

.skill__container {
  /* border: 1px solid; */
  margin-left: 20px;
  margin-right: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
}

.skill__box {
  border-radius: 15px;
  background-color: var(--card-container-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


@media (width < 1025px) {
  html.invert .progress-bar {
    background-color: white;
  }
}

.skill__container .skill__box svg {
  display: block;
}

.skill__container {
  display: none;
}

/* skill wrapper has 2 childs> card container and skill list/ s-list */

/* ------- SKILL LIST ---------------------------------------------------- */
#skill-list {
  /* border: 1px solid; */
  width: 435px;
  height: 60vh;

  padding-top: 0;
  padding-left: 50px;
  margin-top: 20px;

  font-family: "Mondia", sans-serif;
  font-weight: 200;
  font-size: var(--s-list-font-size);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  position: relative;
}

.skill__container {
  font-family: "Mondia", sans-serif;
}

/* ------- CARD CONTAINER ----------------------------------------------- */
.card-container {
  width: var(--card-container-width);
  height: var(--card-container-height);
  margin-left: calc(var(--margin-left) + 50px);
  margin-right: var(--margin-dist);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.card {
  width: calc(var(--card-container-width) - 20px);
  height: calc(var(--card-container-height) - 20px);
  border-radius: 30px;
  background-color: var(--card-container-color);
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--card-font-size);
}

.inverse2 {
  z-index: 80;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  animation: padd 400ms forwards;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 350px;
  border-right: 2px solid rgba(0, 0, 0, 1);
  background-color: var(--skill-list-color);
}

html.invert .inverse2,
body.invert .inverse2 {
  border-right: 3px solid rgba(200, 200, 200, 1);
  background-color: rgba(200, 200, 200, 0.3);
}

.first-x {
  margin-right: 60px;
  margin-bottom: 0px;
  border-radius: 15px 0px 0 0px;
}

.lst {
  border-radius: 0px 0 0px 15px;
}

.middle {
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 60px;
}

@keyframes padd {
  0% {
    padding-left: 30px;
  }

  100% {
    padding-left: 10px;
  }
}

.card-elem {
  display: none;
}

.card-elem:nth-child(1) {
  display: block;
}

.list-elem.clicked {
  background-color: var(--card-container-color-dark);
}

html.invert .list-elem.clicked {
  background-color: rgb(204, 204, 204);
}

.strech {
  background-color: rgba(0, 255, 255, 0);
  font-size: 0px;
  width: 0px;
  transition-duration: 0.3s;
}

.strech.active {
  transition-duration: 0.3s;
  font-size: 30px;
  width: 35px;
}

/* ------------------------{MEDIA QUERY}-------------------------------------------- */

@media (width > 1536px) {
  #skill-list {
    padding-left: 275px;
  }

  #s2-skills {
    height: 98vh;
  }
}

/* md */
@media (width > 768px) and (width < 1025px) {
  #s2-skills {
    height: 100vh;
  }

  :root {
    --card-container-width: 150px;
    --card-container-height: 350px;
    --margin-dist: 150px;
    --card-font-size: 0.8em;
    --s-list-font-size: 1.2em;
  }

  .skill-wrapper {
    display: none;
  }

  .skill__container {
    display: grid;
  }
}

/* sm */
@media (max-width: 768px) {
  #s2-skills {
    height: 135vh;
  }

  :root {
    --card-container-width: 150px;
    --card-container-height: 350px;
    --margin-dist: 150px;
    --card-font-size: 0.8em;
    --s-list-font-size: 1.2em;
  }

  .skill-wrapper {
    display: none;
  }

  .skill__container {
    display: grid;
  }
}

/* xs */
@media (max-width: 475px) {
  #s2-skills {
    height: 140vh;
  }

  :root {
    --card-container-width: 150px;
    --card-container-height: 350px;
    --margin-dist: 150px;
    --card-font-size: 0.8em;
    --s-list-font-size: 1.2em;
  }

  .skill-wrapper {
    display: none;
  }

  .skill__container {
    display: grid;
  }
}
