/*------- root ------------------------------------------------------ */

:root {
  --card-container-width: 650px;
  --card-container-height: 400px;
  --margin-dist: 100px;
  --card-font-size: 1.3em;
  --s-list-font-size: 2em;
}

/* ------- SKILLS ------------------------------------------------------ */


#s2-skills{
  height: 103vh;
}

.d3 {
  position: relative;
  margin: 0;
  padding-top: 90px;
}

/* SK = skill list main id */
/* ss = skill heading */
#SK,
#SS {
  border: none;
}

.progress-bar{
  margin-top: 10px;
  display: flex;
  height: 12px;
  background-color: rgb(210,182,168);
  width: 90%;
  border-radius: 6px;
  justify-content: flex-start !important;
}

mark{
  background-color: rgb(210,182,168);
  font-size: larger;
  box-sizing: content-box;
  padding: 10px;
  border-radius: 15px;
}
/* #ff8c007d */

.growth{
  display: flex;
  position: relative;
  height: 12px;
  width: 0%;
  border-radius: 6px;
  background-color: rgb(0,172,148);
  transition: all 0.5s ease-in-out;
}

/* exps = skill heading span */
.exps {
  padding-top: 30px;
  margin-left: var(--margin-left);
  margin-top: 100px;
  font-size: var(--heading-text-size);
  font-weight: var(--heading-weight);
}

/* ------- SKILL WRAPPER ----------------------------------------------- */
.skill-wrapper {
  display: flex;
  align-items: center;
}

.skill__container {
  /* border: 1px solid; */
  margin-left: 20px;
  margin-right: 20px ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px; 
}

.skill__box {
  /* border: 1px solid #e11f1f; */
  border-radius: 15px;
  background-color: var(--card-container-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.skill__container .skill__box svg{
  display: block;
}

.skill__container{
  display: none;
}
/* skill wrapper has 2 childs> card container and skill list/ s-list */


/* ------- SKILL LIST ---------------------------------------------------- */
#skill-list {
  /* border: 1px solid; */
  width: 435px;
  height: 60vh;

  padding-top: 0;
  padding-left: 50px;
  margin-top: 20px;

  font-family: 'Mondia', sans-serif;
  font-weight: 200;
  font-size: var(--s-list-font-size);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  position: relative;
}

.skill__container{
  font-family: 'Mondia', sans-serif;
}


/* ------- CARD CONTAINER ----------------------------------------------- */
.card-container {
  /* border: 1px solid; */
  width: var(--card-container-width);
  height: var(--card-container-height);
  margin-left: calc(var(--margin-left) + 50px);
  margin-right: var(--margin-dist);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.card {
  /* border: 1px solid; */
  width: calc(var(--card-container-width) - 20px);
  height: calc(var(--card-container-height) - 20px);
  border-radius: 30px;
  background-color: var(--card-container-color);
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--card-font-size);
}

/* the svg class */
.material-symbols {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  font-size: 2.7em;
  font-weight: 50;
  background-color: rgba(197, 126, 33, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
  margin-left: calc(50% - 45px);
}

.web-dev,
.ui-ux,
.dsa,
.python,
.scraping,
.git,
.others {
  display: none;
}

/* INVERSE */
.inverse2 {
  z-index: 80;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  animation: padd 400ms forwards;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border-radius: 15px 0 0 15px; */
  width: 350px;
  border-right: 2px solid rgba(0, 0, 0, 1);
  /* border: 1px solid rgb(0, 0, 0); */
  background-color: rgba(220, 192, 178, 0.5);
}

html.invert .inverse2,
body.invert .inverse2 {
  border-right: 3px solid rgba(200, 200, 200, 1);
  /* border: 1px solid rgb(0, 0, 0); */
  background-color: rgba(200, 200, 200, 0.3);
}

.first-x {
  margin-right: 60px;
  margin-bottom: 0px;
  border-radius: 15px 0px 0 0px;
}

.lst{
  border-radius: 0px 0 0px 15px;
}

.first-x::before{
  content: '';
  position: absolute;
  top: 0;
  left: calc(100% - 25px);
  width: 30px;
  height: 10px;
  /* border-radius: 50%; */
  border-radius: 0px 0 0 10px;
  background-color: black;
  z-index: 99999;
}
.lst::before{
  content: '';
  position: absolute;
  top: calc(100% - 10px);
  left: calc(100% - 25px);
  width: 30px;
  height: 10px;
  /* border-radius: 50%; */
  background-color: black;
  z-index: 99999;
  border-radius: 10px 0 0px 0px;
}
/* width: 435px; height60vh */

@keyframes padd {
  0% {
    padding-left: 30px;
  }

  100% {
    padding-left: 10px;
  }
}

.inverse2:hover {
  opacity: 1;
  transition: 0.3s;
}

.inverse2:hover .strech {
  transition-duration: 0.3s;
  font-size: 30px;
  width: 35px;
}

.strech {
  background-color: rgba(0, 255, 255, 0);
  font-size: 0px;
  width: 0px;
  transition-duration: 0.3s;
}

.middle{
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 60px;
}



/* ------------------------{MEDIA QUERY}-------------------------------------------- */

@media (width > 1536px) {
  #skill-list{
    padding-left: 550px;
  }

  #s2-skills{
    height: 98vh;
  }
}

/* md */
@media (width > 768px) and (width < 1025px) {
  #s2-skills{
    height: 100vh;
  }
  :root {
    --card-container-width: 150px;
    --card-container-height: 350px;
    --margin-dist: 150px;
    --card-font-size: 0.8em;
    --s-list-font-size: 1.2em;
  }

  .skill-wrapper{
    display: none;
  }

  .skill__container {
    display: grid;
  }
}


/* sm */
@media (max-width: 768px) {
  #s2-skills{
    height: 130vh;
  }
  :root {
    --card-container-width: 150px;
    --card-container-height: 350px;
    --margin-dist: 150px;
    --card-font-size: 0.8em;
    --s-list-font-size: 1.2em;
  }

  .skill-wrapper{
    display: none;
  }

  .skill__container {
    display: grid;
  }
}


/* xs */
@media (max-width: 475px) {
  #s2-skills{
    height: 130vh;
  }
  :root {
    --card-container-width: 150px;
    --card-container-height: 350px;
    --margin-dist: 150px;
    --card-font-size: 0.8em;
    --s-list-font-size: 1.2em;
  }

  .skill-wrapper{
    display: none;
  }

  .skill__container {
    display: grid;
  }
}
