/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    /* display: none !important; */
    width: 10px !important;
}

/* Hide scrollbar for other browsers */
@media screen and (min-width: 1025px) {
    html,
    body {
        overflow: -moz-hidden;
        /* Firefox */
        overflow: hidden;
        /* Other browsers */
        /* width , height = 100% so i can still scroll in y */
    }
}
