* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font:
    18px/1.3 Content,
    sans-serif;

  @media (max-width: 1440px) {
    & {
      font:
        14px/1.3 Content,
        sans-serif;
    }
  }

  @media (max-width: 992px) {
    & {
      font:
        12px/1.3 Content,
        sans-serif;
    }
  }

  @media (max-width: 768px) {
    & {
      font:
        10px/1.3 Content,
        sans-serif;
    }
  }
}

#s1 {
  --s1-height: 100vh;
  height: var(--s1-height);
  max-height: var(--s1-height);
  position: relative;
  box-sizing: border-box;
  padding-top: 18vh;
}

#s1 > div > div > p {
  opacity: 0;
}

#s1 > div > div > p.appear-gradually {
  opacity: 1;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (max-width: 768px) {
  #s1 > div > div > div > p.introduction {
    margin-top: 10vh;
  }
  #profileImg {
    width: 90px;
    height: 120px;
  }
}

.introduction {
  font-kerning: none;
}

#profileImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5vh;
  left: 30%;
  z-index: 30;
  background: transparent;
  width: 256px;
  height: 256px;
  width: calc(300px * 0.7);
  height: calc(400px * 0.7);
  border-radius: 15px;
  overflow: hidden;
  transform-origin: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 1540px) {
    & {
      top: 18vh;
    }
  }

  @media screen and (max-width: 768px) {
    & {
      top: 18vh;
      width: calc(300px * 0.37);
      height: calc(400px * 0.37);
    }
  }
}

.college_url {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: black;
  text-decoration-thickness: 2px;

  &:hover {
    text-decoration-style: solid;
    color: inherit;
    cursor: url("/images/a2.png"), auto;
  }
}

.intro__section {
  margin-top: 0vw;
}

.intro__content {
  padding-top: 100px;

  @media screen and (max-width: 768px) {
    & {
      padding-top: 0;
    }
  }
}

.intro__section .intro__content p {
  padding: 20px 0;
  line-height: 1em;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.intro__section .intro__content p.appear-gradually {
  opacity: 1;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

h2.hero-h2 {
  font-size: 12.4vw;
  line-height: 12vw;
  text-align: right;
  white-space: nowrap;
  font-family: Dahlia, title, serif;
  font-weight: lighter;

  @media screen and (min-width: 1540px) {
    & {
      font-size: 12rem;
      line-height: 1;
    }
  }
  @media screen and (max-width: 768px) {
    & {
      font-size: 12vw;
      line-height: 1;
    }
  }
}

h2.hero-h2 div.disable {
  opacity: 0.68;
  font-size: smaller;
  line-height: 0.8;
}

p.hero-p {
  font-size: 60px;
  font-family: title;

  @media (max-width: 1540px) {
    & {
      font-size: 40px;
    }
  }

  @media (max-width: 1140px) {
    & {
      font-size: 32px;
    }
  }
  @media (max-width: 768px) {
    & {
      font-size: 22px;
    }
  }
}

p.hero-p a,
p.hero-p span {
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
}

p.is-xs {
  font:
    18px/1.3 Content,
    sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  p.is-xs {
    font:
      14px/1.3 Content,
      sans-serif;
  }
}

@media (max-width: 992px) {
  p.is-xs {
    font:
      12px/1.3 Content,
      sans-serif;
  }
}

.content-center {
  margin-top: 50%;
}

@media (max-width: 768px) {
  .content-center {
    margin-top: 0;
  }
}

h1 {
  font-family: title, serif;
  font-weight: lighter;
  font-size: 29.5vw;
  line-height: 29vw;
  white-space: nowrap;
  text-align: left;
}

body {
  width: 100%;
  height: 100%;
  font-family: Content, sans-serif;
  color: #212121;
  font-weight: 400;
}

@media (max-width: 992px) {
  body .cursor-container {
    height: 14px;
  }
}

body .unt {
  pointer-events: none;
}

.col-fix span {
  display: block;
}
@media (max-width: 768px) {
  .page-home .hero-section .hero-content .sub-three {
    margin-left: 28vw;
  }
}

@media (max-width: 1440px) {
  .grid.grid-ms {
    width: 768px;
  }

  .grid.grid-lg {
    width: 970px;
  }
}

@media (max-width: 1140px) {
  .col-ms-12 {
    width: 100%;
  }

  .col-ms-none {
    display: none;
  }

  .grid.grid-lg,
  .grid.grid-ms {
    width: 768px;
  }
}

@media (max-width: 992px) {
  .col-s-12 {
    width: 100%;
  }

  .col-s-none {
    display: none;
  }

  .grid {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .grid,
  .grid.grid-lg,
  .grid.grid-ms {
    width: 85%;
  }

  .not-mobile {
    display: none;
  }
}

span.s3,
span.s5 {
  display: inline;

  & span {
    display: inline;
  }
}
