mark {
    background: #ff0;
    color: #000;
}

@keyframes underline {
    0% {
        width: 0;
        margin-left: 0;
        margin-right: 0;
    }

    100% {
        width: 30%;
        margin-left: 60px;
        margin-right: 70%;
    }
}

/* -------------------------------------------------------------------- */
.underline-sp {
    position: relative;
}

.underline-sp::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s ease-out;
}

.underline-sp.active::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.8s ease-out;
}

/* ------------------------{ANIMATION CLASSES}-------------------------------------------- */

/* ANIMATED DIV */
.animated-div {
    opacity: 0;
    animation: fadeIn 0.8s forwards;
}

/* LETTER */
.letter {
    display: inline-block;
    margin-right: -0.08em;
}

/* ANIMATED UNDERLINE */
.animated-underline {
    display: inline-block;
    border-bottom: 2px solid rgb(0, 0, 0);
    animation: underline 1s ease-in forwards;
}

.visible {
    display: block;
}

.clear {
    display: block;
}

.invisible {
    display: none;
}

.blur-dark {
    filter: blur(0px);
    transition: all 0.3s ease-in-out;
}

.hid h1 {
    font-size: 2.1em;
    font-style: inherit;
    font-weight: 450;
}

.hid {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shw {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-gap-1 {
    gap: calc(0.5rem);
}

.f-gap-2 {
    gap: calc(1rem);
}

.cen {
    margin-left: auto;
    margin-right: auto;
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.p-top-1 {
    padding-top: 1rem;
}

.p-top-2 {
    padding-top: 2rem;
}

.p-top-3 {
    padding-top: 3rem;
}

.p-top-4 {
    padding-top: 4rem;
}

/* a tags */
a {
    text-decoration: none;
}

/* backgrounds */
.bg-set {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  div positions  */
.full {
    position: relative;
    width: 100%;
    height: 100%;
}

.open {
    display: block;
}

/* buttons */
.btn {
    width: calc(90px);
    height: calc(40px);
    border: calc(3px) solid var(--bg2);
    outline: none;
    color: rgb(0, 0, 0);
    background-color: var(--bg1);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: calc(30px);
    font-size: calc(1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.btn:hover {
    background-color: var(--bg2);
    color: white;
    transition: all 0.3s;
}

/* input boxes */
input {
    width: calc(200px);
    height: calc(40px);
    border: calc(2px) solid black;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: calc(30px);
    font-size: calc(1rem);
    display: flex;
    padding-left: calc(20px);
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    overflow: hidden;
}

::placeholder {
    color: rgba(0, 0, 0, 0.411);
}

.f-input {
    border: none;
    width: 250px;
    display: block;
    position: relative;
    top: 9px !important;
}

label {
    font-family: MondiaThin, "Courier New", Courier, monospace;
    font-size: calc(1.5rem);
}

/* fonts */

.dahlia {
    font-family: Dahlia, "Courier New", Courier, monospace;
}

.mondia {
    font-family: Mondia, "Courier New", Courier, monospace;
}

.scribe {
    font-family: MilitaryScribe, "Courier New", Courier, monospace;
}

.mondiaThin {
    font-family: MondiaThin, "Courier New", Courier, monospace;
}

/* glass */
.glass {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.247);
    border: 2px solid rgba(255, 255, 255, 0.864);
}

.dark-glass {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.117);
    border: 2px solid rgba(0, 0, 0, 0.864);
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

@media (max-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .col-xs-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .is-mb-sm {
        margin-bottom: 0;
    }
}

.is-mb-base {
    margin-bottom: #212121;
}

.is-mb-xxs {
    margin-bottom: 24px;
}

.is-mb-xs {
    margin-bottom: 32px;
}

.is-mb-s {
    margin-bottom: 2vw;
}

.is-mb-ms {
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .is-mb-ms {
        margin-bottom: 40px;
    }
}

.is-mb-m {
    margin-bottom: 4vw;
}

.is-mb-l {
    margin-bottom: 120px;
}

@media (max-width: 768px) {
    .is-mb-l {
        margin-bottom: 80px;
    }
}

.is-mb-xl {
    margin-bottom: 160px;
}

@media (max-width: 768px) {
    .is-mb-xl {
        margin-bottom: 120px;
    }
}

.is-mb-xxl {
    margin-bottom: 200px;
}

@media (max-width: 768px) {
    .is-mb-xxl {
        margin-bottom: 120px;
    }
}

.is-mb-big {
    margin-bottom: 240px;
}

@media (max-width: 768px) {
    .is-mb-big {
        margin-bottom: 160px;
    }
}

.is-mt-base {
    margin-top: #212121;
}

.is-mt-xxs {
    margin-top: 24px;
}

.is-mt-xs {
    margin-top: 32px;
}

.is-mt-s {
    margin-top: 2vw;
}

.is-mt-ms {
    margin-top: 60px;
}

@media (max-width: 992px) {
    .is-mt-ms {
        margin-top: 16px;
    }
}

.is-mt-m {
    margin-top: 4vw;
}

.is-mt-l {
    margin-top: 8vw;
}

.is-mt-xl {
    margin-top: 12vw;
}

.is-mt-xxl {
    margin-top: 16vw;
}

.is-mt-big {
    margin-top: 240px;
}

@media (max-width: 768px) {
    .is-mt-big {
        margin-top: 160px;
    }
}

.is-pb-base {
    padding-bottom: #212121;
}

.is-pb-xxs {
    padding-bottom: 24px;
}

.is-pb-xs {
    padding-bottom: 32px;
}

.is-pb-s {
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .is-pb-s {
        padding-bottom: 32px;
    }
}

.is-pb-ms {
    padding-bottom: 60px;
}

@media (max-width: 768px) {
    .is-pb-ms {
        padding-bottom: 40px;
    }
}

.is-pb-m {
    padding-bottom: 80px;
}

@media (max-width: 768px) {
    .is-pb-m {
        padding-bottom: 60px;
    }
}

.is-pb-l {
    padding-bottom: 120px;
}

@media (max-width: 768px) {
    .is-pb-l {
        padding-bottom: 80px;
    }
}

.is-pb-xl {
    padding-bottom: 160px;
}

@media (max-width: 768px) {
    .is-pb-xl {
        padding-bottom: 120px;
    }
}

.is-pb-xxl {
    padding-bottom: 200px;
}

@media (max-width: 768px) {
    .is-pb-xxl {
        padding-bottom: 160px;
    }
}

.is-pb-big {
    padding-bottom: 240px;
}

@media (max-width: 768px) {
    .is-pb-big {
        padding-bottom: 200px;
    }
}

.is-pt-base {
    padding-top: #212121;
}

.is-pt-xxs {
    padding-top: 24px;
}

.is-pt-xs {
    padding-top: 32px;
}

.is-pt-s {
    padding-top: 40px;
}

@media (max-width: 768px) {
    .is-pt-s {
        padding-top: 32px;
    }
}

.is-pt-ms {
    padding-top: 60px;
}

@media (max-width: 768px) {
    .is-pt-ms {
        padding-top: 40px;
    }
}

.is-pt-m {
    padding-top: 80px;
}

@media (max-width: 768px) {
    .is-pt-m {
        padding-top: 60px;
    }
}

.is-pt-l {
    padding-top: 120px;
}

@media (max-width: 768px) {
    .is-pt-l {
        padding-top: 80px;
    }
}

.is-pt-xl {
    padding-top: 160px;
}

@media (max-width: 768px) {
    .is-pt-xl {
        padding-top: 120px;
    }
}

.is-pt-xxl {
    padding-top: 200px;
}

@media (max-width: 768px) {
    .is-pt-xxl {
        padding-top: 160px;
    }
}

.is-pt-big {
    padding-top: 240px;
}

@media (max-width: 768px) {
    .is-pt-big {
        padding-top: 200px;
    }
}

.column {
    display: block;
    float: left;
    min-height: 1px;
}

.grid {
    clear: both;
    position: relative;
    margin: 0 auto;
}

.grid.grid-full {
    width: 100%;
    padding-left: 3.2vw;
    padding-right: 3.2vw;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

[hidden],
template {
    display: none;
}

a {
    background: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

small {
    font-size: 80%;
}

pre {
    overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

a,
input,
input:focus,
select,
textarea,
textarea:focus {
    outline: none;
}

.animated-underline-white,
.animated-underline {
    position: relative;
    overflow: hidden;
}

.animated-underline::before,
.animated-underline-white::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 200;
    border-radius: 3px;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    /* the 5th power cubic-bezier is good */
    transform-origin: right;
    /* mix-blend-mode: difference; */
}

.animated-underline::before {
    background-color: black;
}

.animated-underline-white::before {
    background-color: #4a4947;
}

.animated-underline:hover::before,
.animated-underline-white:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
