


/* cursor */
.cursor {
  z-index: 77;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fffcef;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s;
}

