/* ------------------------{hello}-------------------------------------------- */

#hello {
  font-size: var(--hello-mega-font-size);
  font-weight: 900;
  margin: 30px;
  margin-left: calc(var(--margin-left) - 0.06em);
  letter-spacing: -0.06em;
  animation: slideIn 1.2s ease-out;
  display: inline;
  transition: transform 0.3s;
}

/* ------------------------{delayed animations}-------------------------------------------- */

#div1 { animation-delay: 0s; }
#div2 { animation-delay: 1.2s; }
#div3 { animation-delay: 1.68s; }
#i1 { animation-delay: 0s; }
#i2 { animation-delay: 0.2s; }
#i3 { animation-delay: 0.4s; }
#i4 { animation-delay: 0.6s; }
#i5 { animation-delay: 0.8s; }

/* ------------------------{div1}-------------------------------------------- */

#s1 {
  opacity: 1;
  /* border: 1px solid; */
}

.div1 { margin-top: 175px; }

/* ------------------------{name}-------------------------------------------- */

.name {
  margin: 0px 30px 0px var(--margin-left);
  font-weight: 500;
  font-size: var(--introduction-text-size);
}

.name span {
  font-family: "Tangerine", cursive;
  font-weight: 300;
  font-size: var(--introduction-text-size);
  font-style: normal;
}

.name span:hover {
  animation: underline 1s forwards;
}

#div2{
  color: var(-tc);
}

#subhajit{
  font-family: tangerine;
  font-size: calc(var(--introduction-text-size) + 0.7em);
  font-weight: 300;
}

/* ------------------------{intro}-------------------------------------------- */

.intro {
  margin: 0px 30px 0px var(--margin-left);
  font-weight: 400;
  font-size: var(--introduction-text-size);
}

/* ------------------------{d1-2}-------------------------------------------- */

.d1-2 {
  position: relative;
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------------------------- */


/* xs */
@media (max-width: 475px) {
  #div2{
    margin-top: 40px;
  }
  #subhajit{
    font-size: calc(var(--introduction-text-size) + 0.9em);
  }
}

/* sm */
@media (max-width: 640px) {
  #div2{
    margin-top: 40px;
  } 
  #subhajit{
    font-size: calc(var(--introduction-text-size) + 0.9em);
  }
}

/* md */
@media (max-width: 768px) {
  #div2{
    margin-top: 40px;
  }
  #subhajit{
    font-size: calc(var(--introduction-text-size) + 0.9em);
  }
}

/* lg */
/* @media (max-width: 1024px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* 2xl */
/* @media (max-width: 1536px) {} */
