
.invert {
  filter: invert(100%);
}

#invert-button {
  position: fixed;
  /* top: 42px; */
  top: var(--top);
  right: 85px;
  /* right: 455px; */

  z-index: 85;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: 0;
  opacity: 1;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  /* mix-blend-mode: difference; */
  /* background-color: #fff; */
  transition: var(--transition-duration);
  background-image: url('https://subha-py-c.github.io/Noni/sun.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

#invert-button:hover {
  /* background-color: rgba(168, 168, 168, 0.8); */
  transform: scale(1.414);
  transition: 0.3s;
}
