/* ------------------------{invert}-------------------------------------------- */

.invert {
  filter: invert(100%);
}

/* ------------------------{invert-button}-------------------------------------------- */

#invert-button {
  position: fixed;
  top: var(--top);
  right: 85px;
  z-index: 85;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  font-size: 0;
  opacity: 1;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: var(--transition-duration);
  background-image: url('https://subha-py-c.github.io/Noni/sun.png');
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

#invert-button:hover {
  transform: scale(1.414);
}

/* -------------------------------------------------------------------- */

/* xs */
@media (max-width: 475px) {
  #invert-button {
    display: none;
  }
}

/* sm */
@media (max-width: 640px) {
  #invert-button {
    display: none;
  }
}

/* md */
@media (max-width: 768px) {
  #invert-button {
    display: none;
  }
}

/* lg */
/* @media (max-width: 1024px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* 2xl */
/* @media (max-width: 1536px) {} */
