
/*------- root ------------------------------------------------------ */

:root{
  --card-container-width: 650px;
  --card-container-height: 400px;

  --card-container-width-for-mobile: 350px;
  --card-container-height-for-mobile: 100px;
}

/* ------- SKILLS ------------------------------------------------------ */

.d3 {
  position: relative;
  margin: 0;
  /* border: 8px solid red; */
  padding-top: 90px;
}
/* 
#s2-skills{
  border: 1px solid;
} */

/* SK = skill list main id */
#SK {
  border: none;
}

/* ss = skill heading */
#SS {
  border: none;
}

/* exps = skill heading span */
.exps {
  padding-top: 30px;
  margin-left: var(--margin-left);
  margin-top: 100px;
  font-size: var(--heading-text-size);
  font-weight: var(--heading-weight);
}

/* ------- SKILL WRAPPER ----------------------------------------------- */
.skill-wrapper {
  display: flex;
  align-items: center;
}

/* skill wrapper has 2 childs> card container and skill list/ s-list */

/* ------- CARD CONTAINER ----------------------------------------------- */
.card-container {
  border: 1px solid;
  width: var(--card-container-width);
  height: var(--card-container-height);
  margin-left: calc(var(--margin-left) + 50px);
  margin-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.card {
  border: 1px solid;
  width: calc(var(--card-container-width) - 20px);
  height: calc(var(--card-container-height) - 20px);
  border-radius: 30px;
  background-color: var(--card-container-color);
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

/* the svg class */

.material-symbols {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  font-size: 2.7em;
  font-weight: 50;
  background-color: rgba(197, 126, 33, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.default {
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
}

.python,
.ai-tools,
.html-css,
.ui-ux,
.js,
.react,
.c-cpp,
.git,
.others {
  display: none;
}

/* ------- SKILL LIST ---------------------------------------------------- */
#skill-list {
  margin-top: 0;
  padding-top: 0;
  /* border: 1px solid; */
  width: 335px;
  height: 650px;
  /* right: 100px; */
}

/* skill-list = s-list */
.s-list {
  height: 60vh;
  margin-top: 20px;
  padding-left: 50px;
  font-size: 2em;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.first-x {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 0px;
}

/* INVERSE */
.inverse2 {
  z-index: 80;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transition: 0.3s;
  /* text-align: end; */
  border-right: 1px solid;
  animation: padd 400ms forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes padd {
  0% {
    padding-left: 30px;
  }

  100% {
    padding-left: 10px;
  }
}

.inverse2:hover {
  opacity: 1;
  transition: 0.3s;
}

.inverse2:hover .strech {
  transition-duration: 0.3s;
  font-size: 30px;
  width: 35px;
}

.strech {
  background-color: rgba(0, 255, 255, 0);
  font-size: 0px;
  width: 0px;
  transition-duration: 0.3s;
}

.first,
.middle,
.last {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  font-style: normal;
}

.middle {
  margin-top: 0;
  margin-bottom: 0;
}

.last {
  margin-top: 0px;
  margin-bottom: 60px;
}
