/* BODY */
body {
  background-color: var(--bg3);
  color: var(--tc);
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* •—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—• */
:root {

  --tc: rgb(0 0 0);
  /* tc: text color */
  --bg33: rgb(215, 202, 179);
  --bg3: #d7cac3;
  /* --nav-li-color: #141a1d; */
  /* --nav-li-color: #141a1d60; */
  --nav-li-color: #bab6b38a;
  /* #37474F */
  --card-container-color: #546e7a2d;
  --email-box-color: #546e7a2a;
  --submit-button-color: #37474F;
  --s-btn-text-color: #ffffff;

  /* change all come in times for speed */

  --margin-left: 70px;

  /* font-main */
  --heading-text-size: 4em;
  --heading-weight: 550;
  --heading-line-space: -0.05em;
  --introduction-text-size: 1.5em;
  --paragraph-text-size: 1.15em;
  --hello-mega-font-size: 11.8rem;

  --difference: 10px;

  /* nav li */
  --initial-height-of-nav-li: 0px;
  --height-of-one-nav-li: 46.66px;
  --total-nav-li: 7;

  --bg1: rgba(0, 0, 0, 0.5);
  --bg2: rgb(0, 0, 0, 1);

  /* positioning */
  --top: 25px;
  --right: 20px;

  /* delays */
  --transition-delay: 0.2s;
  --transition-duration: 0.3s;

  --radius: 45px;
  --z-value: 100;

  --cursor-z-index: 9999999999;
  --svg-z-index: 9999999;
  --font-size: 1.2rem;

  --rr: 15px;
}

/* •—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—• */
#viewers {
  margin-left: var(--margin-left);
}

/* •—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—• */

.header__texts {
  font-family: 'Chillax-Bold', sans-serif;
  font-family: 'Dahlia', sans-serif;
}

/* •—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—• */
a {
  color: rgb(152, 14, 88);
  text-decoration: none;
}

a:hover {
  background: linear-gradient(to right, red, rgb(255, 162, 0));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* border-bottom: 1px dotted #efefef; */
}

a:active {
  color: rgb(255, 162, 0);
}

section {
  height: 100vh;
  z-index: 1;
  background-color: var(--bg3);
  opacity: 1;
  transition: opacity 0.6s, transform 0.6s;
  background: url(../images/paper-texture.webp) no-repeat;
  background-size: cover;
  background-position: center;
}

/* •—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—• */
/* •—•—•—•—•—•—•—•—•—•—•—•—•—•—•—•—•—•—•—•—••—•—•—•—•—•—• */
/* 
#s5-thanks {
  border: 1px solid;
} */

/* •—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—••—•—•—•—•—•—• */

/* xs */
@media (max-width: 475px) {
  :root {
    --hello-mega-font-size: 3.4rem;
    --margin-left: 20px;
    --heading-text-size: 2.2em;
    --heading-weight: 550;
    --heading-line-space: -0.03em;
    --introduction-text-size: 0.85em;
    --paragraph-text-size: 0.7em;
    --top: 15px;
    --right: 10px;
  }

  section {
    opacity: 1;
  }

  .sec5 {
    font-size: 0.5em;
  }
}

/* sm */
@media (max-width: 640px) {
  :root {
    --hello-mega-font-size: 4.0rem;
    --margin-left: 20px;
    --heading-text-size: 2.8em;
    --heading-weight: 550;
    --heading-line-space: -0.03em;
    --introduction-text-size: 1.15em;
    --paragraph-text-size: 1em;
    --top: 15px;
    --right: 10px;
  }

  section {
    opacity: 1;
  }

  .sec5 {
    font-size: 0.5em;
  }
}

/* md */
@media (max-width: 768px) {
  :root {
    --hello-mega-font-size: 4.0rem;
    --margin-left: 20px;
    --heading-text-size: 2.8em;
    --heading-weight: 550;
    --heading-line-space: -0.03em;
    --introduction-text-size: 1.15em;
    --paragraph-text-size: 1em;
    --top: 15px;
    --right: 10px;
  }

  section {
    opacity: 1;
  }

  .sec5 {
    font-size: 0.5em;
  }
}

/* lg */
/* @media (max-width: 1024px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* 2xl */
/* @media (max-width: 1536px) {} */